<!DOCTYPE html>
<html>
<!-- Head -->
{% include '../../components/head.html' %}
<!-- End Head -->
<style>
 .account-address-form {
    border: none;
    display: block;
    box-shadow: none;
    border-radius: 4px;
    background: #fff;
    padding: 20px;
}
.account-address-form form {
    max-width: 100%;
    width: 65%;
}
.form-horizontal .form-group {
    margin-left: 0px;
}
.form-horizontal .form-group:before {
    content: " ";
    display: table;
}
.account-address-form .form-group label {
    font-size: 15px;
    text-align: left;
    font-weight: 400;
}
.account-address-form .form-group .icheck-wrap {
    font-weight: 400;
    min-height: 22px;
    margin-bottom: 0;
}
.account-address-form .form-group .icheck-wrap>div {
    margin-right: 5px;
}
.icheckbox_square-blue {
    background-position: 0 0;
}
.icheckbox_square-blue, .iradio_square-blue {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(https://vcdn.tikicdn.com/desktop/img/icheck/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}
.account-address-form .form-group.end {
    margin-bottom: 0;
}
.account-address-form .btn-custom3 {
    width: 50%;
    border-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    color: #4a4a4a;
    font-size: 14px;
    background-color: #fdd835;
}
.account-address-form .form-group textarea {
    height: 110px;
}

</style>

<body>
    <!-- Header -->
    {% include '../../components/header.html' %}
    <!-- End Header -->
    <div style="height:80px; text-align:center"></div>
    <div class="container account-main">
        <div class="row">
            <nav class="side-nav">
                <div class="user-top-wrap">
                    <div class="user-top">
                        <img src="/public/img/feedback_1.jpg">
                        <span>{{ info.username }}</span>
                    </div>
                </div>
                <ul class="nav nav-stacked">
                    <li>
                        <a href="/tai-khoan-cua-toi">Tài khoản của tôi</a>
                    </li>
                    <li>
                        <a href="/don-hang-cua-toi">Quản lý đơn hàng</a>
                    </li>
                    <li class="active">
                        <a href="/so-dia-chi">Sổ địa chỉ</a>
                    </li>
                    <li>
                        <a href="/yeu-thich">Sản phẩm yêu thích</a>
                    </li>
                </ul>
            </nav>
            <div class="tab-content">
                <div class="default-address col-xs-12">
                    {% if data.id %}
                        <h3>Chỉnh sửa địa chỉ</h3>
                    {% else %}
                        <h3>Tạo sổ địa chỉ</h3>
                    {% endif %}
                    <div class="account-address-form address-form">
                        {% if data.id %}
                        <form class="form-horizontal bv-form" role="form" action="/customer/address/edit?id={{ data.id }}" method="post" id="address-info">
                        {% else %}
                        <form class="form-horizontal bv-form" role="form" action="/them-dia-chi" method="post" id="address-info">
                        {% endif %}
                            <div class="form-group row  has-feedback">
                                <label for="full_name" class="col-lg-4 col-md-4 control-label visible-md-block visible-lg-block">Họ và Tên:</label>
                                <div class="col-lg-8 col-md-8">
                                    <input type="hidden" name="id" value="{{ data.id }}">
                                    <input name="full_name" type="text" class="form-control" id="full_name" placeholder="Nhập họ và tên" value="{{ data.address.full_name }}" required />
                                </div>
                            </div>
                    
                            <div class="form-group row ">
                                <label for="company" class="col-lg-4 col-md-4 control-label visible-md-block visible-lg-block">Công ty:</label>
                                <div class="col-lg-8 col-md-8">
                                    {% if data.address.company.length !== 0 %}
                                        <input name="company" type="text" class="form-control" id="company" placeholder="Nhập công ty" value="{{ data.address.company }}">
                                    {% else %}
                                        <input name="company" type="text" class="form-control" id="company" placeholder="Nhập công ty" value="">
                                    {% endif %}
                                </div>
                            </div>
                    
                            <div class="form-group row  has-feedback">
                                <label for="telephone" class="col-lg-4 col-md-4 control-label visible-md-block visible-lg-block">Số điện thoại:</label>
                                <div class="col-lg-8 col-md-8">
                                    {% if data.address.telephone.length !== 0 %}
                                        <input name="telephone" type="tel" class="form-control" id="telephone" placeholder="Nhập số điện thoại" value="{{ data.address.telephone }}" required />
                                    {% else %}
                                        <input name="telephone" type="tel" class="form-control" id="telephone" placeholder="Nhập số điện thoại" value="" required />
                                    {% endif %}
                                </div>
                            </div>
                    
                            <div class="form-group row  has-feedback">
                                <label for="region_id" class="col-lg-4 col-md-4 control-label visible-md-block visible-lg-block">Tỉnh/Thành phố:</label>
                    
                                <div class="col-lg-8 col-md-8">
                                    <select name="region_id" class="form-control" id="region_id" data-bv-field="region_id" required>
                                        <option value="">Chọn Tỉnh/Thành phố</option>
                                        {% if data.address.region_id.length  !== 0 %}
                                            <option value="{{ data.address.region_id }}">{{ data.address.region_id }}</option>
                                        {% endif %}
                                        <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                                        <option value="Hà Nội">Hà Nội</option>
                                        <option value="Đà Nẵng">Đà Nẵng</option>
                                        <option value="An Giang">An Giang</option>
                                    </select>
                                </div>
                            </div>
                    
                            <div class="form-group  has-feedback">
                                <label for="city_id" class="col-lg-4 col-md-4 control-label visible-md-block visible-lg-block">Quận huyện:</label>
                    
                                <div class="col-lg-8 col-md-8">
                                    <select name="city_id" class="form-control" id="city_id" data-bv-field="city_id" required>
                                        <option value="">Chọn Quận/Huyện</option>
                                        {% if data.address.city_id.length !== 0 %}
                                            <option value="{{ data.address.city_id }}">{{ data.address.city_id }}</option>
                                        {% endif %}
                                        <option id="1" value="Quận Ba Đình">Quận Ba Đình</option>
                                        <option id="10" value="Quận Hoàn Kiếm">Quận Hoàn Kiếm</option>
                                        <option id="11" value="Quận Hai Bà Trưng">Quận Hai Bà Trưng</option>
                                        <option id="12" value="Quận Đống Đa">Quận Đống Đa</option>
                                    </select>
                                </div>
                            </div>
                    
                            <div class="form-group  has-feedback">
                                <label for="ward_id" class="col-lg-4 col-md-4 control-label visible-md-block visible-lg-block">Phường xã:</label>
                    
                            <div class="col-lg-8 col-md-8">
                                <select name="ward_id" class="form-control" id="ward_id" data-bv-field="ward_id" required>
                                    <option value="">Chọn Phường/Xã</option>
                                    {% if data.address.ward_id.length !== 0 %}
                                        <option value="{{ data.address.ward_id }}">{{ data.address.ward_id }}</option>
                                    {% endif %}
                                    <option id="3590" value="Phường Dịch Vọng">Phường Dịch Vọng</option>
                                    <option id="3591" value="Phường Dịch Vọng Hậu">Phường Dịch Vọng Hậu</option>
                                    <option id="3592" value="Phường Mai Dịch">Phường Mai Dịch</option>
                                    <option id="3593" value="Phường Nghĩa Đô">Phường Nghĩa Đô</option>
                                    <option id="3594" value="Phường Nghĩa Tân">Phường Nghĩa Tân</option>
                                    <option id="3595" value="Phường Quan Hoa">Phường Quan Hoa</option>
                                    <option id="3596" value="Phường Trung Hoà">Phường Trung Hoà</option>
                                    <option id="3597" value="Phường Yên Hoà">Phường Yên Hoà</option>
                                </select>
                            </div>
                            </div>
                    
                            <div class="form-group row  has-feedback">
                                <label for="street" class="col-lg-4 col-md-4 control-label visible-md-block visible-lg-block">Địa chỉ:</label>
                                <div class="col-lg-8 col-md-8">
                                    {% if data.address.street.length !== 0 %}
                                        <textarea class="form-control" id="street" name="street" cols="30" rows="10" placeholder="Nhập địa chỉ" required>{{  data.address.street }}</textarea>
                                    {% else %}
                                        <textarea class="form-control" id="street" name="street" cols="30" rows="10" placeholder="Nhập địa chỉ"required ></textarea>
                                    {% endif %}    
                                </div>
                            </div>
                    
                            <div class="form-group row">
                                <div class="col-lg-offset-4 col-md-offset-4 col-lg-8 col-md-8">
                                    <label for="default" class="icheck-wrap">
                                        {% if data.address.address_default === null%}
                                            <input type="checkbox" name="address_default">
                                            Sử dụng địa chỉ này làm mặc định.
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                    
                            <div class="form-group row end">
                                <div class="col-lg-offset-4 col-md-offset-4 col-lg-8 col-md-8">
                                    <button type="submit" class="btn btn-primary btn-custom3">Cập nhật</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    {% include '../../components/footer.html' %}
    <!-- End Footer -->
    <!-- script -->
    {% include '../../components/script.html' %}
</body>

</html>