<!DOCTYPE html>
<html>
<!-- Head -->
{% include '../../components/head.html' %}
<!-- End Head -->

<body>
    <!-- Header -->
    {% include '../../components/header.html' %}
    <!-- End Header -->

    <div class="container-fluid page-heading shop-heading">
        <div class="heading-content">
            <h1>Sản phẩm</h1>
            <p>Mỗi món đồ là một câu chuyện nhỏ. MIN cùng bạn viết nên câu chuyện ngôi nhà mình.</p>
            <ol class="breadcrumb">
                {% if data.category_id != null %}
                <li id="all" class="{{ data.url[0] }}_{{ data.category_id }}">
                    <a href="/">Trang chủ</a>
                </li>
                {% elif data.category_product_id != null %}
                <li id="all" class="{{ data.url[0] }}_{{ data.category_product_id }}">
                    <a href="/">Trang chủ</a>
                </li>
                {% elif data.author%}
                <li id="all" class="{{ data.url }}_{{ data.author }}">
                    <a href="/">Trang chủ</a>
                </li>
                {% elif data.material%}
                <li id="all" class="{{ data.url }}_{{ data.material }}">
                    <a href="/">Trang chủ</a>
                </li>
                {% else %}
                <li id="all" class="{{ data.url[0] }}">
                    <a href="/">Trang chủ</a>
                </li>
                {% endif %}
                <li class="active">Sản phẩm</li>
            </ol>
        </div>
    </div>
    <div class="container shop-main">
        <div class="row">
            <nav class="navbar navbar-default" id="shop-menu">
                <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="slide-collapse" data-target=".shop-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse pull-left shop-nav">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <form>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lọc theo hãng sản xuất
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for authors in data.authors %}
                                        {% if authors.author.length <= 20 %}
                                            <li role="separator" class="divider"></li>
                                            <li class="checkbox sort">
                                                <label>
                                                    <a href="/san-pham/tac-gia/{{ authors.author | replace(' ', '-') }}">
                                                        <input type="checkbox" name="{{ authors.author }}" value="{{ authors.author }}">{{  authors.author | title }}
                                                    </a>
                                                </label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </form>
                        </li>
                        <li class="dropdown">
                            <form>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lọc theo mức giá
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="checkbox sort">
                                        <label>
                                            <input type="checkbox" name="price1" value="price1">Dưới 1 triệu
                                        </label>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="checkbox sort">
                                        <label>
                                            <input type="checkbox" name="price2" value="price2">Từ 1 triệu đến 3 triệu
                                        </label>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="checkbox sort">
                                        <label>
                                            <input type="checkbox" name="price3" value="price3">Từ 3 triệu đến 5 triệu
                                        </label>                                    
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="checkbox sort">
                                        <label>
                                            <input type="checkbox" name="price4" value="price4">Từ 5 triệu đến 10 triệu
                                        </label>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li class="checkbox sort">
                                        <label>
                                            <input type="checkbox" name="price5" value="price5">Trên 10 triệu
                                        </label>
                                    </li>
                                </ul>
                            </form>
                        </li>

                        <li class="dropdown">
                            <form>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lọc theo Chất liệu
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                     {% for materials in data.materials %}
                                        {% if materials.material.length <= 20 %}
                                            <li role="separator" class="divider"></li>
                                            <li class="checkbox sort">
                                                <label>
                                                    <a href="/san-pham/chat-lieu/{{ materials.material  | replace(' ', '-')}}">
                                                        <input type="checkbox" name="{{ materials.material }}" value="{{ materials.material }}">{{ materials.material | title }}
                                                    </a>    
                                                </label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </form>
                        </li>
                    </ul>
                </div>

                <form>
                    <select id="data" class="form-control pull-right">
                        <option value="sort0" disabled selected hidden>Sắp xếp</option>
                        <option value="sort1">Thứ tự theo sản phẩm mới</option>
                        <option value="sort2">Thứ tự theo giá: thấp đến cao</option>
                        <option value="sort3">Thứ tự theo giá: cao đến thấp</option>
                        <option value="sort6">Mặc định</option>
                    </select>
                </form>
            </nav>

            <div class="product-list">

                <!- menu danh muc san pham start ->
                <ul class="nav nav-stacked col-xs-3 collapse navbar-collapse shop-nav">
                    <li class="nav-title">
                        <a data-toggle="display-all">
                            <h4>Danh mục </h4>
                        </a>
                    </li>
                    <li>
                        <button class=" product-group" type="button">
                            <h4>Thiết kế theo phòng</h4>
                        </button>
                    </li>
                    <li>
                        <ul class="nested-tab">
                            {% for item in data.menuArea %}
                            <li class="submenu">
                                <button class="sub-group" type="button">
                                    <h5>
                                        <a href="javascript:void(0)">{{ item.area_name | upper }} </a>
                                    </h5>
                                </button>

                                <ul id="areas" class="submenu-content">
                                    <div class="sign">
                                        <i class="fa  fa-caret-right"></i>
                                    </div>
                                    <div id="">
                                        {% for category_product in item.category_product %} {% if category_product.group_by_category === false %}
                                        <li class="san-pham_{{ category_product.category_product_id }}">
                                            <a href="/san-pham/{{ category_product.category_product_alias }}">{{ category_product.name_category_product | title }}</a>
                                        </li>
                                        {% else %}
                                        <li class="san-pham-group_{{ category_product.category_id }}">
                                            <a href="/san-pham-group/{{ category_product.category_product_alias }}">{{ category_product.name_category_product | title }}</a>
                                        </li>
                                        {% endif %} {% endfor %}
                                    </div>

                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li style="height: 15px"></li>
                    <li>
                        <button class=" product-group" type="button">
                            <h4>Lựa chọn theo sản phẩm</h4>
                        </button>
                    </li>
                    <li>
                        <ul class="nested-tab">
                            {% for item in data.menuCategory %}
                            <li class="submenu">
                                <button class="sub-group" type="button">
                                    <h5>
                                        <a href="/san-pham/{{ item.category_alias }}">{{ item.name_category | upper }}</a>
                                    </h5>
                                </button>
                                <ul id="category" class="submenu-content">
                                    <div class="sign">
                                        <i class="fa  fa-caret-right"></i>
                                    </div>
                                    <!-- Use loop -->
                                    {% for category_product in item.category_product %}
                                    <li>
                                        <a href="/san-pham/{{ category_product.category_product_alias }}-{{ category_product.product_id }}">{{ category_product.name_category_product | title }}</a>
                                    </li>
                                    {% endfor %}
                                    <!-- end use loop -->
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <!-- end menu danh muc san pham -->
                <div id="output">
                    {% include './product.html' %}
                </div>

            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include '../../components/footer.html' %}
    <!-- End Footer -->
    <!-- script -->
    {% include '../../components/script.html' %}
    <!-- End script -->
<script>
    function convert () {
        var products = $('.price')
        for (var i = 0; i < products.length; i++) {
            products[i].children['0'].innerText = parseInt(products[i].children['0'].innerText).toLocaleString('vi')
            products[i].children['1'].innerText = parseInt(products[i].children['1'].innerText).toLocaleString('vi')
            products[i].children['2'].innerText =  '-' + Math.round(products[i].children['2'].innerText) + '%'
        }    
    }
    convert()
</script>

    <!--  Sort product  -->
    <script type="text/javascript">
      var output = document.getElementById('output');
        (function () {
            document.getElementById('data').onclick = function () {
                var data = document.getElementById('data').value
                var id = document.getElementById('all').className
                axios.post('/sort/products', {
                    data: data,
                    path: id.split('_')[0],
                    category_product: id.split('_')[1],
                    author: id.split('_')[1],
                    material: id.split('_')[1]
                })
                    .then(function (res) {
                        output.innerHTML = res.data;
                        convert()
                    })
                    .catch(function (err) {
                        console.log(err.message)
                    })
            }
        })()

       var sortPrice = document.querySelectorAll('.sort input')
       sortPrice.forEach(function (item) {
           item.onclick = function () {
               console.log(item.value)
               var id = document.getElementById('all').className
               axios({
                   method: 'post',
                   url: '/sort/products',
                   data: {
                        data: item.value,
                        path: id.split('_')[0],
                        category_product: id.split('_')[1],
                        author: id.split('_')[1],
                        material: id.split('_')[1]
                   }
               })
               .then(function (res) {
                   console.log(res.data)
                       output.innerHTML = res.data;
                       convert()
                   })
                   .catch(function (err) {
                       console.log(err.message)
                   })
           }
       })
    </script>
    <!-- get product of author -->
    <script type="text/javascript">
        var manufacturer = document.querySelectorAll('.manufacturer a')
        var author = document.getElementById('output')
        manufacturer.forEach(function (item) {
            item.onclick = function () {
                axios({
                    method: 'post',
                    url: '/san-pham/tac-gia',
                    data: {
                        author: item.innerText
                    }
                })
                    .then(function (res) {
                        // console.log(res.data)
                        author.innerHTML = res.data
                        convert()
                    })
            }
        })
    </script>
    <!-- add product to cart -->
    <script type="text/javascript">
        var add_to_cart = document.querySelectorAll('.add_to-cart')

        add_to_cart.forEach(function (item) {
            item.onclick = function () {
                var total = document.getElementById('cart-count')
                axios({
                    method: 'post',
                    url: '/add_to_cart',
                    data: {
                        product_id: item.id,
                        quantity: 1
                    }
                })
                    .then(function (res) {
                        // total.innerText = res.data
                        console.log(res.data)
                    })

            }
        })

    </script>

    <!-- add product to wishlish -->
    <script type="text/javascript">
        var wishlish = document.querySelectorAll('.add_to_wishlist')
        wishlish.forEach(function (item) {
            var id = item.nextSibling.id
            item.onclick = function () {
                console.log(id)
                var totalWish = document.getElementById('add_to-wishlist')
                axios({
                    method: 'post',
                    url: '/add_to_wishlish',
                    data: {
                        product_id: id
                    }
                })
                    .then(function (res) {
                        console.log(res.data)
                        totalWish.innerText = res.data
                    })
            }
        })
    </script>
</body>

</html>