<!DOCTYPE html>
<html>
<!-- Head -->
{% include '../../components/head.html' %}
<!-- End Head -->
<style>
    #account-info .disabled-input {
        background: none;
        border: 0;
        padding: 15px 10px;
    }

    #account-info .disabled-input+button {
        margin: 10px 0;
        border: 0;
        padding: 5px 20px;
        background: #336699;
        color: #fff;
        transition: all 0.4s ease;
    }

    button.edit,
    button.edit:hover {
        float: left;
        margin-left: 10%;
        background: #1976D2;
        color: #fff;
        font-size: 18px;
        width: 110px;
    }

    button.cancel,
    button.cancel:hover {
        float: right;
        margin-right: 10%;
        color: #fff;
        background: #D32F2F;
        font-size: 18px;
        height: 38px;
        text-align: center;
        padding-top: 6px;
        width: 25%;
    }

    input.info {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 3rem;
        width: 100%;
        font-size: 1.2em;
        margin: 0 0 15px 0;
        padding: 0;

        box-sizing: content-box;
        transition: all .3s;
    }

    input.info:focus {
        box-shadow: none;
        border-bottom: 1.5px solid #26a69a;
    }
</style>

<body>
    <!-- Header -->
    {% include '../../components/header.html' %}
    <!-- End Header -->
    <div style="height:80px; text-align:center"></div>
    {% if messageVerify !== true %}
    <div class="message">
        <h3>{{ messageVerify }}</h3>
        <h4><a href="/resend/veryfi-email/{{ info.username }}">Gửi lại email xác thực!</a></h4>
    </div>
    {% endif %}
    <div class="container account-main">
        <div class="row">
            <nav class="side-nav">
                <div class="user-top-wrap">
                    <div class="user-top">
                        <img src="https://vcdn.tikicdn.com/desktop/img/icon1.png">
                        <span>{{ info.username }}</span>
                    </div>
                </div>
                <ul class="nav nav-stacked">
                    <li class="active">
                        <a href="/tai-khoan-cua-toi">Tài khoản của tôi</a>
                    </li>
                    <li>
                        <a href="/don-hang-cua-toi">Quản lý đơn hàng</a>
                    </li>
                    <li>
                        <a href="/so-dia-chi">Sổ địa chỉ</a>
                    </li>
                    <li>
                        <a href="/yeu-thich">Sản phẩm yêu thích</a>
                    </li>
                </ul>
            </nav>
            <div class="tab-content">
                <div id="account-info">
                    {% if messageUpdateInfo !== false %}
                    <div class="updateInfo">
                        <h3>{{ messageUpdateInfo }}</h3>
                    </div>
                    {% endif %}
                    <h3>Thông tin cá nhân</h3>
                    <form method="post" action="/updateInfo">
                        <ul>
                            <form>
                                <li>
                                    <label>Email</label>
                                    <div class="input-field">
                                        <input class="disabled-input" type="email" name="Email" value="{{ info.email }}" disabled>
                                        <button type="button" class="pull-right" data-toggle="modal" data-target="#editEmail">
                                            <i class="fa fa-edit"></i>
                                            <span class="hidden-xs"> Chỉnh sửa</span>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <label>Password</label>
                                    <div class="input-field">
                                        <input class="disabled-input" type="password" name="Password" value="user password" disabled/>
                                        <button type="button" class="pull-right" data-toggle="modal" data-target="#editPassword">
                                            <i class="fa fa-edit"></i>
                                            <span class="hidden-xs"> Chỉnh sửa</span>
                                        </button>
                                    </div>
                                </li>
                                <li>
                                    <label>Họ tên</label>
                                    <div class="input-field">
                                        <input type="text" name="name" id="name" value="{{ info.username }}" />
                                    </div>
                                </li>
                                <li>
                                    <label>Điện thoại</label>
                                    <div class="input-field">
                                        <input type="text" name="phone" id="phone" value="{{ info.phone }}" />
                                    </div>
                                </li>
                                <li>
                                    <label for="month">Ngày sinh:</label>
                                    <div class="input-field">
                                        <input type="text" name="birthday" id="birthday" value="{{ info.date_of_birth }}" />
                                        <span style="margin-left: 90px;">Format: Ngày/Tháng/Năm</span>
                                    </div>
                                </li>
                                <li>
                                    <label for="gender">Giới tính:</label>
                                    <div>
                                        {% if info.general.trim() === 'Nam' %}
                                            <input type="radio" class="gender radio-update" name="gender" id="male" value="Nam" checked /> 
                                        {% else %}
                                            <input type="radio" class="gender radio-update" name="gender" id="male" value="Nam" /> 
                                        {% endif %}
                                        <label class="gender" for="male">Nam</label>

                                        {% if info.general.trim() ==='Nữ' %}
                                            <input type="radio" class="gender radio-update" name="gender" id="female" value="Nữ" checked /> 
                                        {% else %}
                                            <input type="radio" class="gender radio-update" name="gender" id="female" value="Nữ" /> 
                                        {% endif %}
                                        <label class="gender" for="female">Nữ</label>

                                    </div>
                                </li>
                                <li>
                                    <button type="submit" class="save-change">
                                        <i class="fa fa-floppy-o"></i> Lưu thông tin
                                    </button>
                                </li>
                            </form>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- modal edit info user -->
    <div class="modal fade" id="editEmail" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form method="post" action="/edit-info">
                    <div style="border-bottom: none;" class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title" style=" font-size: 1.7em; line-height: 1.2">Thay đổi email: </h3>
                    </div>
                    <div class="modal-body">
                        <label style=" margin-left: 0px; font-size: 16px;color: #4CAF50; border-bottom: none;">Email</label>
                        <input type="email" class="form-control info" name="new_email">
                    </div>
                    <div style="border-top: none;" class="modal-footer row">
                        <button type="submit" id="checkEmail" class="btn btn-default edit">Thay đổi</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editPassword" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form>
                    <div style="border-bottom: none;" class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title" style=" font-size: 1.7em; line-height: 1.2">Thay đổi mật khẩu: </h3>
                        <h4 class="modal-title" id="err_message" style=" font-size: 1em; line-height: 1.2 ;color: red;"></h4>
                    </div>
                    <div class="modal-body">
                        <label style=" margin-left: 0px; font-size: 16px;color: #4CAF50; border-bottom: none;">Mật khẩu mới</label>
                        <input id="new_password" type="password" class="form-control info" name="new_password">
                        <label style=" margin-left: 0px; font-size: 16px;color: #4CAF50; border-bottom: none;">Xác nhận mật khẩu</label>
                        <input id="confirm_password" type="password" class="form-control info" name="confirm_password">
                    </div>
                    <div style="border-top: none;" class="modal-footer row">
                        <button type="button" id="checkPassword" class="btn btn-default edit">Thay đổi</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal edit info user -->

    <!-- Footer -->
    {% include '../../components/footer.html' %}
    <!-- End Footer -->
    <!-- script -->
    {% include '../../components/script.html' %}
    <script>
        // var new_password = $('#new_password').val()
        // var confirm_password = $('#confirm_password').val()
        // var checkPassword = document.getElementById('checkPassword')
        // var err_message =$('#err_message')
        // if(new_password !== confirm_password) {
        //     err_message.val('Mật khẩu không trùng khớp!')
        // } else if (new_password.length < 6) {
        //     err_message.val('Mật khẩu phải có độ dài hơn 6 kí tự!')
        // }
    </script>
    <script type="text/javascript">

        checkPassword.onclick = function () {
            var new_password = document.getElementById('new_password').value
            var confirm_password = document.getElementById('confirm_password').value
            var checkPassword = document.getElementById('checkPassword')
            var err_message = document.getElementById('err_message')
            if (new_password !== confirm_password) {
                err_message.innerText = 'Mật khẩu không trùng khớp!'
            } else if (new_password.length < 6 || confirm_password.length < 6) {
                err_message.innerText = 'Mật khẩu phải có độ dài hơn 6 kí tự!'
            } else {
                axios({
                    method: 'post',
                    url: '/edit-info',
                    data: {
                        password: new_password
                    }
                })
                    .then(function (res) {
                        function timedRefresh(timeoutPeriod) {
                            setTimeout("location.reload(true);", timeoutPeriod);
                        }
                        window.onload = timedRefresh(500);
                    })
            }
        }
    </script>
</body>

</html>