<!DOCTYPE html>
<html>
<!-- Head -->
{% include '../../components/head.html' %}
<!-- End Head -->

<body>
    <!-- Header -->
    {% include '../../components/header.html' %}
    <!-- End Header -->
    <div class="container-fluid page-heading cart-heading">
        <div class="heading-content">
            <h1>Yêu thích</h1>
            <p>Danh sách các sản phẩm yêu thích của bạn</p>
            <ol class="breadcrumb">
                <li>
                    <a href="home.html">Trang chủ</a>
                </li>
                <li class="active">Yêu thích</li>
            </ol>
        </div>
    </div>
    <div style="height:80px"></div>
    <div class="container account-main">
        <div class="row">
            <nav class="side-nav">
                <div class="user-top-wrap">
                    <div class="user-top">
                        <img src="/public/img/feedback_1.jpg">
                        <span>{{ data.username }}</span>
                    </div>
                </div>
                <ul class="nav nav-stacked">
                    <li>
                        <a href="/tai-khoan-cua-toi">Tài khoản của tôi</a>
                    </li>
                    <li>
                        <a href="/don-hang">Quản lý đơn hàng</a>
                    </li>
                    <li class="active">
                        <a href="/yeu-thich">Danh sách yêu thích</a>
                    </li>
                </ul>
            </nav>
            <div class="tab-content">
                <h3>Danh sách yêu thích (2)</h3>
                <div class="cart-container wishlist-container">
                    <table class="cart">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Sản phẩm</th>
                                <th class="product-name">
                                    <span class="hidden-xs">Tên sản phẩm</span>
                                </th>
                                <th class="product-price">
                                    <span class="hidden-xs">Đơn giá</span>
                                </th>
                                <th class="product-status">
                                    <span class="hidden-xs">Tình trạng</span>
                                </th>
                                <th class="product-action">&nbsp;</th>
                                <th class="product-remove">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart-item">
                                <td class="product-thumbnail">
                                    <a href="shop-detail.html">
                                        <img src="img/riflesso_1.jpg">
                                    </a>
                                </td>
                                <td class="product-name">
                                    <a href="shop-detail.html">Tủ Riflesso</a>
                                </td>
                                <td class="product-price">4.400.000</td>
                                <td class="product-status">
                                    <span class="in-stock">Còn hàng</span>
                                </td>
                                <td class="product-action">
                                    <button class="link-to">
                                        <span class="hidden-xs hidden-sm">Thêm vào giỏ hàng </span>
                                        <i class="fa fa-shopping-cart"></i>
                                    </button>
                                </td>
                                <td class="product-remove">
                                    <button>
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr class="cart-item">
                                <td class="product-thumbnail">
                                    <a href="shop-detail.html">
                                        <img src="img/rotonda_1.jpg" alt="">
                                    </a>
                                </td>
                                <td class="product-name">
                                    <a href="shop-detail.html">Bàn La Rotonda </a>
                                </td>
                                <td class="product-price">3.200.000</td>
                                <td class="product-status">
                                    <span class="out-stock">Hết hàng</span>
                                </td>
                                <td class="product-action">
                                    <button class="link-to">
                                        <span class="hidden-xs hidden-sm">Thêm vào giỏ hàng </span>
                                        <i class="fa fa-shopping-cart"></i>
                                    </button>
                                </td>
                                <td class="product-remove">
                                    <button>
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include '../../components/footer.html' %}
    <!-- End Footer -->

    <!-- script -->
    {% include '../../components/script.html' %}
    <!-- End script -->