<!DOCTYPE html>
<html>
<!-- Head -->
{% include '../../components/head.html' %}
<!-- End Head -->

<body>
    <!-- Header -->
    {% include '../../components/header.html' %}
    <!-- End Header -->
    <div class="container-fluid page-heading cart-heading">
        <div class="heading-content">
            <h1>Yêu thích</h1>
            <p>Danh sách các sản phẩm yêu thích của bạn</p>
            <ol class="breadcrumb">
                <li>
                    <a href="home.html">Trang chủ</a>
                </li>
                <li class="active">Yêu thích</li>
            </ol>
        </div>
    </div>
    <div style="height:80px"></div>
    <div class="container account-main">
        <div class="row">
            <nav class="side-nav">
                <div class="user-top-wrap">
                    <div class="user-top">
                        <img src="/public/img/feedback_1.jpg">
                        <span>{{ info.username }}</span>
                    </div>
                </div>
                <ul class="nav nav-stacked">
                    <li>
                        <a href="/tai-khoan-cua-toi">Tài khoản của tôi</a>
                    </li>
                    <li>
                        <a href="/don-hang-cua-toi">Quản lý đơn hàng</a>
                    </li>
                    <li>
                        <a href="/so-dia-chi">Sổ địa chỉ</a>
                    </li>
                    <li class="active">
                        <a href="/yeu-thich">Sản phẩm yêu thích</a>
                    </li>
                </ul>
            </nav>
            <div class="tab-content">
                <h3>Danh sách yêu thích (
                    <span id="count-wishlish">{{ wishlish }}</span>)</h3>
                <div class="cart-container wishlist-container">
                    <table class="cart">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Sản phẩm</th>
                                <th class="product-name">
                                    <span class="hidden-xs">Tên sản phẩm</span>
                                </th>
                                <th class="product-price">
                                    <span class="hidden-xs">Đơn giá</span>
                                </th>
                                <th class="product-status">
                                    <span class="hidden-xs">Tình trạng</span>
                                </th>
                                <th class="product-action">&nbsp;</th>
                                <th class="product-remove">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr class="cart-item">
                                <td class="product-thumbnail">
                                    <a href="/san-pham/chi-tiet-san-pham/{{ product.product_alias}}-{{product.product_id}}">
                                        <img src="/public/images/products/{{ product.images["0"] }}">
                                    </a>
                                </td>
                                <td class="product-name">
                                    <a href="/san-pham/chi-tiet-san-pham/{{ product.product_alias }}-{{ product.product_id }}">{{ product.product_name }}</a>
                                </td>
                                <td class="product-price">{{ product.product_price }}</td>
                                <td class="product-status">
                                    {% if product.rest_of_product > 0 %}
                                    <span class="in-stock">Còn hàng</span>
                                    {% else %}
                                    <span class="out-stock">Hết hàng</span>
                                    {% endif %}
                                </td>
                                <td class="product-action {{ product.product_id }}">
                                    {% if product.rest_of_product <= product.quantity %} 
                                        <button class="link-to" data-toggle="modal" data-target="#out-off">
                                        <span class="hidden-xs hidden-sm">Thêm vào giỏ hàng </span>
                                        <i class="fa fa-shopping-cart"></i>
                                        </button>
                                        {% else %} 
                                        <button class="link-to add_to-cart">
                                            <span class="hidden-xs hidden-sm">Thêm vào giỏ hàng </span>
                                            <i class="fa fa-shopping-cart"></i>
                                        </button>
                                    {% endif %}
                                </td>
                                <td class="wishlish-remove {{ product.product_id }}">
                                    <button data-toggle="modal" data-target="#removeWishlish">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- cảnh báo số lượng sản phẩm không đủ để thêm vào giỏ hàng -->
    <div class="modal fade" id="out-off" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                    <div class="bootbox-body">
                        <p style="font-size: 20px;">Số lượng sản phẩm trong kho không đủ!</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-bb-handler="confirm" type="button" class="btn btn btn-primary" id="remove-wishlish" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include '../../components/footer.html' %}
    <!-- End Footer -->
    <div class="modal fade" id="removeWishlish" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                    <div class="bootbox-body">
                        <p style="font-size: 20px;">Bạn có thực sự muốn xoá ?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-bb-handler="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button data-bb-handler="confirm" type="button" class="btn btn btn-primary" id="remove-wishlish" data-dismiss="modal">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    <!-- script -->
    {% include '../../components/script.html' %}
    <!-- End script -->

    <!-- add to cart -->
    <script type="text/javascript">
            $('.product-action').each(function () {
                $(this).click(function () {
                    let product_id = $(this).attr('class').charAt($(this).attr('class').length - 1)
                    let total = $('#cart-count')
                    var that = $(this)
                    axios({
                        method: 'post',
                        url: '/add_to_cart',
                        data: {
                            product_id: product_id,
                            quantity: 1
                        }
                    })
                        .then(function (res) {
                            console.log(res.data)
                            if (res.data.quantity < res.data.rest) {
                                total.text(res.data.total)
                                console.log(11)
                            } else if (res.data.quantity === res.data.rest) {
                                total.text(res.data.total)
                                $(that)
                                    .attr("data-toggle", 'modal').attr("data-target", '#out-off')
                                    .removeClass('qty-increase')
                                    .addClass('out-off')
                                $(that).prev().attr('value', res.data.quantity)
                                $(that).prev().val(res.data.quantity)
                                console.log(22)
                            } else {
                                $(that)
                                    .attr("data-toggle", 'modal').attr("data-target", '#out-off')
                                    .removeClass('qty-increase')
                                    .addClass('out-off')
                                $(that).prev().attr('value', res.data.quantity)
                                $(that).prev().val(res.data.quantity)
                                console.log(33)
                            }
                        })
                })
            })
        
    </script>

    <!-- remove wishlish -->
    <script type="text/javascript">
        var wishlish_product = document.querySelectorAll('.wishlish-remove')
        var remove_wishlish = $('#remove-wishlish')
            remove_wishlish.onclick = function () {
                console.log(123)
            }
        // wishlish_product.forEach(function (item) {
        //     var product_id = item.className.charAt(item.className.length - 1)
        //     var totalWish = document.getElementById('add_to-wishlist')
        //     var countWishlish = document.getElementById('count-wishlish')
        //     // item.onclick = function () {
        //         remove_wishlish.onclick = function () {
        //             alert(123)
        //             // $(item).parents('.cart-item').remove()
        //             // axios({
        //             //     method: 'post',
        //             //     url: '/delete/wishlish',
        //             //     data: {
        //             //         product_id: product_id
        //             //     }
        //             // })
        //             //     .then(function (res) {
        //             //         console.log(res.data)
        //             //         totalWish.innerText = res.data
        //             //         countWishlish.innerText = res.data
        //             //     })
        //         }
        //     // }
        // })
    </script>