<!DOCTYPE html> {% include '../../components/head.html' %}

<body>
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Page Container -->
        <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

            <!-- Main Sidebar -->
            <div id="sidebar">
                <!-- Wrapper for scrolling functionality -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Brand -->
                        <a href="index.html" class="sidebar-brand">
                        <i class="gi gi-home"></i><span class="sidebar-nav-mini-hide"><strong>FMS</strong></span>
                    </a>
                        <!-- END Brand -->

                        <!-- User Info -->
                        {% include '../../components/userInfo.html' %}
                        <!-- END User Info -->

                        <!-- Sidebar Navigation -->
                        <ul class="sidebar-nav">
                            <li>
                                <a href="index.html"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span
                                    class="sidebar-nav-mini-hide">Dashboard</span></a>
                            </li>
                            <li class="active">
                                <a href="javascript:void(0)" class="sidebar-nav-menu" id="category">
                                <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                <i class="gi gi-address_book sidebar-nav-icon"></i>
                                <span class="sidebar-nav-mini-hide" >Quán Lý Danh Mục</span>
                            </a>
                                <ul class="category">
                                    <li>
                                        <a href="/admin/category/area">
                                            <!--<i class="gi gi-keys sidebar-nav-icon"></i>-->
                                            Danh Mục Khu Vực
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admin/category/category">
                                            <!--<i class="gi gi-tags sidebar-nav-icon"></i>-->
                                            Danh Mục
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="/admin/category/category_product">
                                            <!--<i class="gi gi-tag sidebar-nav-icon"></i>-->
                                            Danh Mục Sản Phẩm
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="sidebar-nav-menu" id="product">
                                <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                <i class="gi gi-shop sidebar-nav-icon"></i>
                                <span class="sidebar-nav-mini-hide">Quản Lý Sản Phẩm</span>
                            </a>
                                <ul class="product" style="display: none;">

                                    <li>
                                        <a href="page_ecom_products.html">
                                        Sản Phẩm
                                    </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#" class="sidebar-nav-menu">
                                <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                <i class="gi gi-money sidebar-nav-icon"></i>
                                <span class="sidebar-nav-mini-hide">Quản Lý Đơn Hàng</span>
                            </a>
                                <ul>
                                    <li></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="sidebar-nav-menu">
                                <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                <i class="gi gi-group sidebar-nav-icon"></i>
                                <span class="sidebar-nav-mini-hide">Quản Lý Người Dùng</span>
                            </a>
                                <ul>
                                    <li></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- END Sidebar Navigation -->

                    </div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Main Sidebar -->

            <!-- Main Container -->
            <div id="main-container">
                <!-- Header -->
                {% include '../../components/header.html' %}
                <!-- END Header -->

                <!-- Page content -->
                <div id="page-content">
                    <div class="page-content-edit">
                        <!--<div class="page-title">-->
                        <!--<i class="icon-custom-left"></i>-->
                        <!--<h3>-->
                        <!--<strong>Product 1</strong> <small>update product</small></h3>-->
                        <!--<br>-->
                        <!--</div>-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabcordion">
                                    <ul id="myTab" class="nav nav-tabs">
                                        <li class="active"><a href="#product_general" data-toggle="tab">General</a></li>

                                        <li>
                                            <a href="#product_reviews" data-toggle="tab">Xem Trước</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade active in" id="product_general">
                                            <div class="row">
                                                <div class="edit">
                                                    <div class="col-sm-3 control-label">
                                                        <label class="control-label">Tên Danh Mục Sản Phẩm</label>

                                                    </div>
                                                    <div class="col-sm-3 control-label">
                                                        <label class="control-label">Danh Mục</label>
                                                    </div>
                                                    <div class="col-sm-1 control-label">
                                                        <label class="control-label">Gộp</label>
                                                    </div>
                                                    <div class="col-sm-3 control-label">
                                                        <label class="control-label">Khu Vực</label>
                                                    </div>
                                                    <div class="col-sm-2 control-label">
                                                        <label class="control-label">Ngày Tạo</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <form action="/admin/category/category_product_edit" id="form1" class="form-horizontal" method="post">
                                                    <div class="input">
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="name_category_product" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <select class="form-control selectpicker" multiple title="Chọn một danh mục" data-max-options="1" name="name_category">
                                                                    {% for category in categories %}
                                                                        <option value="{{ category.name_category }}">{{ category.name_category | upper }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <input type="checkbox" name="group_category">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group">
                                                                <select class="form-control selectpicker" multiple title="Chọn một hoặc nhiều khu vực" name="areas">
                                                                    {% for area in areas %}
                                                                        <option value="{{ area.area_name }}">{{ area.area_name | upper }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <!-- <label class="col-sm-2 control-label"></label> -->
                                                            <div class="form-group">
                                                                <div class='input-group date' id='datetimepicker1'>
                                                                    <input type='text' class="form-control" name="time_create" />
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group save">
                                                        <div class="col-md-4"></div>
                                                        <div class="col-md-1"></div>
                                                        <div class="col-md-3">
                                                            <a href="/admin/category/category_product" class="btn btn-danger m-r-10 m-t-10"><i class="fa fa-times"></i> Hủy Bỏ</a>
                                                            <button class="btn btn-success m-t-10" type="submit"><i class="fa fa-check"></i> Lưu Thông Tin</button>
                                                        </div>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="product_reviews">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table id="ecom-products" class="table table-bordered table-striped table-vcenter">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" style="width: 70px;">ID</th>
                                                                <th>Tên Danh Mục Sản Phẩm</th>
                                                                <th class="text-right hidden-xs">Danh Mục</th>
                                                                <th class="hidden-xs">Khu Vực</th>
                                                                <th class="hidden-xs text-center">Ngày Tạo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-center"><a href="page_ecom_product_edit.html"><strong>1</strong></a></td>
                                                                <td><a href="page_ecom_product_edit.html">Đồ Trang Trí</a></td>
                                                                <td class="text-right hidden-xs">
                                                                    <span class="label label-success">Đồ Trang Trí</span>
                                                                </td>
                                                                <td class="hidden-xs">
                                                                    <span class="label label-success">
                                                                Phòng Khách
                                                            </span>
                                                                    <span class="label label-success">
                                                                Phòng Học
                                                             </span>
                                                                    <span class="label label-success">
                                                                Phòng Làm Việc
                                                            </span>
                                                                </td>
                                                                <td class="hidden-xs text-center">03/10/2014</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-center"><a href="page_ecom_product_edit.html"><strong>2</strong></a></td>
                                                                <td><a href="page_ecom_product_edit.html">Bàn Cà Phê</a></td>
                                                                <td class="text-right hidden-xs">
                                                                    <span class="label label-success">Bàn</span>
                                                                </td>
                                                                <td class="hidden-xs">
                                                                    <span class="label label-success">Phòng Khách</span>
                                                                </td>
                                                                <td class="hidden-xs text-center">18/02/2014</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
            </div>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->
    </div>
    <!-- END Page Wrapper -->

    {% include '../../components/footer.html' %} {% include '../../components/script.html' %}
</body>

</html>