<!DOCTYPE html>
<html>
    <!-- Head -->
        {% include '../../../components/head.html' %}
    <!-- End Head -->
<body>
     <!-- Header -->
        {% include '../../../components/header.html' %}
     <!-- End Header -->
<div class="container-fluid page-heading cart-heading">
    <div class="heading-content">
        <h1>Giỏ hàng</h1>
        <p></p>
        <ol class="breadcrumb">
            <li><a href="home.html">Trang chủ</a></li>
            <li class="active">Giỏ hàng</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="cart-container">
                <table class="cart">
                    <thead>
                    <tr>
                        <th class="product-thumbnail">Sản phẩm</th>
                        <th class="product-name"><span class="hidden-mobile">Tên sản phẩm</span></th>
                        <th class="product-price"><span class="hidden-mobile">Đơn giá</span></th>
                        <th class="product-quantity"><span class="hidden-mobile">Số lượng</span></th>
                        <th class="product-subtotal">Thành tiền</th>
                        <th class="product-remove">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody id="products">
                    {% for product in products %}    
                        <tr class="cart-item">
                            <td class="product-thumbnail">
                                <a href="/san-pham/chi-tiet-san-pham/{{ product.product_alias}}-{{product.product_id}}">
                                    <img src="public/images/products/{{ product.images["0"] }}">
                                </a>
                            </td>
                            <td class="product-name">
                                <a href="/san-pham/chi-tiet-san-pham/{{ product.product_alias}}-{{product.product_id}}">{{ product.product_name }}</a>
                            </td>
                            <td class="product-price">{{product.product_price}}</td>
                            <td class="product-quantity">
                               
                                {% if product.rest_of_product === 0 %}
                                    <input class="{{ product.product_id }}" type="hidden" name="quantity" value="0" size="4" >
                                    <span class="out-stock">Hết hàng</span>
                                {% elif product.rest_of_product <=  product.quantity %}
                                <div class="quantity">
                                    <button class="qty-decrease" onclick="" type="button">-</button><input class="{{ product.product_id }}" id="quantity" type="text" name="quantity" value="{{ product.rest_of_product }}" size="4"><button class="out-off" data-toggle="modal" data-target="#out-off">+</button>
                                </div>
                                {% else %}
                                    <div class="quantity">
                                        <button class="qty-decrease" onclick="" type="button">-</button><input class="{{ product.product_id }}" id="quantity" type="text" name="quantity" value="{{ product.quantity }}" size="4"><button class="qty-increase" onclick="" type="button">+</button>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="product-subtotal">0</td>
                            <td class="product-remove">
                                <button id="{{ product.product_id }}"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" class="actions">
                            <a href="/empty-cart" class="empty-cart link-to hidden-mobile">Xóa toàn bộ</a>
                            <a href="/san-pham" class="link-to continue">Tiếp tục mua hàng <i class="fa fa-angle-right"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="cart-checkout container">
                <div class="col-xs-12 col-sm-6">
                    <div class="cart-coupon">
                        <h3>Mã giảm giá</h3>
                        <input type="text" value="" placeholder="Nhập mã giảm giá">
                        <button class="apply-coupon link-to">Áp dụng mã giảm giá</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="cart-total">
                        <h3>Tổng tiền</h3>
                        <table>
                            <tbody>
                            <tr class="cart-subtotal">
                                <th>Tạm tính</th>
                                <td>0</td>
                            </tr>
                            <tr class="cart-discount">
                                <th>Giảm giá<span class="discount-rate"></span></th>
                                <td>0</td>
                            </tr>
                            <tr class="order-total">
                                <th>Tổng tiền</th>
                                <td class="amount">0</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="checkout-proceed">
                            {% if login_status !== true  %}
                                <button class="link-to checkout-button" data-toggle="modal" data-target="#warmingLogin">
                                    Tiến hành đặt hàng
                                    <i class="fa fa-angle-right"></i>
                                </button>
                            {% elif messageVerify !== true %}
                                <button class="link-to checkout-button" data-toggle="modal" data-target="#warmingVeryfiEmail">
                                    Tiến hành đặt hàng
                                    <i class="fa fa-angle-right"></i>
                                </button>
                            {% else %}    
                                <a href="/shipping" class="link-to checkout-button">
                                    Tiến hành đặt hàng
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="warmingLogin" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                <div class="bootbox-body">
                    <p style="font-size: 20px;">Bạn vui lòng đăng nhập để có thể tiến hành đặt hàng!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" class="btn btn btn-primary" id="remove-wishlish" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="out-off" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                <div class="bootbox-body">
                    <p style="font-size: 20px;">Số lượng sản phẩm trong kho không đủ!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" class="btn btn btn-primary" id="remove-wishlish" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="warmingVeryfiEmail" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                <div class="bootbox-body">
                    <p style="font-size: 20px;">Bạn vui lòng xác thực tài khoản để có thể tiến hành đặt hàng!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="confirm" type="button" class="btn btn btn-primary" id="remove-wishlish" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
                 <!-- Footer -->
    {% include '../../../components/footer.html' %}
                 <!-- End Footer -->
 
                  <!-- script -->
     {% include '../../../components/script.html' %}
                 <!-- End script -->
    <script src="/public/js/axios.min.js"></script>             
    <script>
        var cart = document.getElementById('cart-count')
        var removeProducts = document.querySelectorAll('.product-remove button')
        removeProducts.forEach(function (item) {
            item.onclick = function () {
                axios.post('delete/product', {
                    product_id: item.id
                })
                    .then(function (res) {
                        (res.data === null) ? cart.innerText = 0 : cart.innerText = parseInt(res.data)
                    })
            }
        })

        var qtyDecrease = $('.qty-decrease')
        qtyDecrease.each(function () {
            $(this).click(function () {
                var product_idDe = $(this).next().attr('class')
                if ($(this).next().val() > 1) {
                    axios.get('/decrease/qty/' + product_idDe)
                        .then(function (res) {
                            (typeof res.data === 'number') ? (cart.innerText = res.data) : (cart.innerText = res.data.user['sumProduct'])
                        })
                }
                console.log($('.out-off').parent())
                // if ($('.out-off')) {
                //     $('.out-off').attr('onclick', '').attr('type', 'button').addClass('qty-increase out')
                //         .removeClass('out-off')
                //         .removeAttr("data-toggle")
                //         .removeAttr('data-target')
                // }
            })
        })

        var qtyIncrease1 = $('.qty-increase')
        qtyIncrease1.each(function () {
            $(this).click(function () {
                var that = $(this)
                var product_idIn = $(this).prev().attr('class')
                axios.get('/increase/qty/' + product_idIn)
                .then(function (res) {
                    console.log(res.data)
                    if(typeof res.data.quantity === 'number' && res.data.quantity < res.data.rest) {
                        (typeof res.data.total === 'number') ? cart.innerText = res.data.total  : cart.innerText = res.data.quantity.user['sumProduct']
                        console.log(11)
                    } else if (typeof res.data.quantity === 'number' && res.data.quantity == res.data.rest) {
                        (typeof res.data.total === 'number') ? cart.innerText = res.data.total : cart.innerText = res.data.quantity.user['sumProduct']
                        $(that)
                            .attr("data-toggle", 'modal').attr("data-target", '#out-off')
                            .removeClass('qty-increase')
                            .addClass('out-off')
                        $(that).prev().attr('value', res.data.quantity)
                        $(that).prev().val(res.data.quantity)
                        console.log(22)
                    }else {
                        $(that)
                        .attr("data-toggle", 'modal').attr("data-target", '#out-off')
                        .removeClass('qty-increase')
                        .addClass('out-off')
                        $(that).prev().attr('value', res.data.rest)
                        $(that).prev().val(res.data.rest)
                        console.log(33)
                    }                        
                })
            })
        })

        $(document).on('click', '.out', function(){
            $(this).click(function () {
                var that = $(this)
                var product_idIn = $(this).prev().attr('class')
                axios.get('/increase/qty/' + product_idIn)
                    .then(function (res) {
                        console.log('def',res.data)
                        if (typeof res.data.quantity === 'number' && res.data.quantity < res.data.rest) {
                            (typeof res.data.total === 'number') ? cart.innerText = res.data.total : cart.innerText = res.data.quantity.user['sumProduct']
                            console.log(1)
                        } else if (typeof res.data.quantity === 'number' && res.data.quantity == res.data.rest) {
                            (typeof res.data.total === 'number') ? cart.innerText = res.data.total : cart.innerText = res.data.quantity.user['sumProduct']
                            $(that)
                                .attr("data-toggle", 'modal').attr("data-target", '#out-off')
                                .removeClass('qty-increase')
                                .addClass('out-off')
                            $(that).prev().attr('value', res.data.quantity)
                            $(that).prev().val(res.data.quantity)
                            console.log(2)
                        } else {
                            $(that)
                                .attr("data-toggle", 'modal').attr("data-target", '#out-off')
                                .removeClass('qty-increase')
                                .addClass('out-off')
                            $(that).prev().attr('value', res.data.rest)
                            $(that).prev().val(res.data.rest)
                            console.log(3)
                        }
                    })
            })
        })
    </script>          
</body>
</html>