<!DOCTYPE html>
<html>
<!-- Head -->
{% include '../../../components/head.html' %}
<!-- End Head -->

<body>
    <!-- Header -->
    {% include '../../../components/header.html' %}
    <!-- End Header -->
    <div class="container-fluid page-heading shop-heading">
        <div class="heading-content">
            <h1>Chi tiết Sản phẩm</h1>
            <p>Mỗi món đồ là một câu chuyện nhỏ. MIN cùng bạn viết nên câu chuyện ngôi nhà mình.</p>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Trang chủ</a>
                </li>
                <li>
                    <a href="/san-pham">Sản phẩm</a>
                </li>
                <li class="active">Chi tiết Sản phẩm</li>
            </ol>
        </div>
    </div>
    <div class="single-product">
        <div class="images">
            <div id="single-1" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    {% for index, image in data.images %} {% if index === '0' %}
                    <li data-target="#single-1" data-slide-to="0" class="active">
                        <img src="/public/images/products/{{ image }}" class="img-responsive">
                    </li>
                    {% else %}
                    <li data-target="#single-1" data-slide-to="{{ index }}">
                        <img src="/public/images/products/{{ image }}" class="img-responsive">
                    </li>
                    {% endif %} {% endfor %}
                </ol>

                <div class="carousel-inner" role="listbox">
                    {% for index, image in data.images %} {% if index === '0' %}
                    <div class="item active">
                        <img src="/public/images/products/{{ image }}" class="img-responsive">
                    </div>
                    {% else%}
                    <div class="item ">
                        <img src="/public/images/products/{{ image }}" class="img-responsive">
                    </div>
                    {%endif%} {% endfor %}
                </div>
                <a class="left carousel-control" href="#single-1" data-slide="prev">
                    <i class="fa fa-long-arrow-left"></i>
                </a>
                <a class="right carousel-control" href="#single-1" data-slide="next">
                    <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="summary">
            <h1 class="product-title">{{ data.product_name }}</h1>
            {% if status > 1 %}
            <div>
                <span class="stock">Sản phẩm cùng loại:</span>
                {% for image in images %} {% if data.product_id === image.product_id %}
                <a href="/san-pham/chi-tiet-san-pham/{{ image.product_alias}}-{{ image.product_id }}">
                    <img style="width: 10%; margin: 15px 26px; border: 1px solid #CCCCCC; " src="/public/images/products/{{ image.images['0'] }}"
                        class="color" alt="{{ image.product_alias }}">
                </a>
                {% else %}
                <a href="/san-pham/chi-tiet-san-pham/{{ image.product_alias}}-{{ image.product_id }}">
                    <img style="width: 10%;" src="/public/images/products/{{ image.images['0'] }}" class="color" alt="{{ image.product_alias }}">
                </a>
                {% endif %} {% endfor %}
            </div>
            {% endif%}
            <ul class="review">
                <li>
                    <a href="javascript:void(0)">
                        <span class="rating-detail">
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                            <span>☆</span>
                        </span>
                        <span class="fontSize-rating">
                            <span>21</span> Ratings and Reviews</span>
                    </a>
                </li>
                <li class="fontSize-rating">
                    <a href="javascript:void(0)"> 3 Questions</a>
                </li>
                <li class="fontSize-rating">
                    <a href="javascript:void(0)">2K Saves</a>
                </li>
            </ul>
            <div class="single-price">
                <ins>{{ data.product_price }}đ</ins>
                <del class="sale-off-detail">{{ data.original_price }}đ</del>
            </div>
            <div class="description">
                <p>{{ data.description }}</p>
            </div>
            <p class="stock">Tình trạng:
                <span class="in-stock">Còn hàng</span>
            </p>
            <div class="cart">
                <span style="font-size:19.5px">Số lượng:</span>
                <div class="quantity">
                    <button class="qty-decrease" onclick="" type="button">-</button>
                    <input id="qty" type="text" name="quantity" value="1" class="{{ data.product_id }}" size="4">
                    <button class="qty-increase" onclick="" type="button">+</button>
                </div>
                <div class="cart-button">
                    <button type="submit" id="add-to-cart" class="add-to-cart link-to">Thêm vào giỏ hàng</button>
                    {% if login_status !== true %}
                    <a href="javascript:void(0)" type="button" data-toggle="modal" data-target="#myModal" style="width: 27px;">
                        <i class="fa fa-heart-o"></i>
                    </a>
                    {% elif listWishlish %} {% for wishlish in listWishlish %} {% if wishlish.attribute_product_id === data.product_id %}
                    <a href="javascript:void(0)" type="button" data-toggle="modal" data-target="#existsWishlish" style="width: 27px;">
                        <i class="wishlished fa fa-heart-o"></i>
                    </a>
                    {% endif %} {% endfor %} {% else %}
                    <a href="javascript:void(0)" id="add_to_wishlist" style="width: 27px;">
                        <i class="fa fa-heart-o"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="product-category">
                Danh mục: {% if data.group_by_category %}
                <a href="/san-pham-group/{{  data.category_alias }}">{{ data.name_category | title }}</a>
                {% else %}
                <a href="/san-pham/{{ data.category_product_alias }}">{{ data.name_category_product | title }}</a>
                {% endif %}
                <!-- <a href="shop.html">{{ data.name_category_product }}</a> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="commerce-tabs">
            <ul class="nav nav-tabs tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-description">Mô tả</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-info">Thông tin</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-question">Hỏi, đáp về sản phẩm</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-reviews">Đánh giá</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab-description">
                    <p style="font-size:18px;">{{ data.description }}.</p>
                </div>
                <div class="tab-pane fade" id="tab-info">
                    {% for attribute in [data.attributes] %} {% if attribute.material %}
                    <p style="font-size:18px;">
                        <strong>Chất Liệu</strong>: {{ attribute.material | title }}
                    </p>
                    {% endif %} {% if attribute.color %}
                    <p style="font-size:18px;">
                        <strong>Màu sắc</strong>: {{ attribute.color | title }}
                    </p>
                    {% endif %} {% if attribute.manufacturer %}
                    <p style="font-size:18px;">
                        <strong>Nhà sản xuất</strong>: {{ attribute.manufacturer | title }}
                    </p>
                    {% endif %}

                    <p style="font-size:18px;">
                        <strong>Kích thước</strong>: {% for size in [attribute.size] %} {% if size.length %} Dài: {{ size.length
                        }} cm {% endif %} {% if size.width %} Ngang: {{ size.width }} cm {% endif %} {% if size.hight %}
                        Cao: {{ size.hight }} cm {% endif %} {% if size.diameter %} Đường kính: {{ size.diameter }} cm {%
                        endif %} {% endfor %}
                    </p>
                    {% endfor %} {% if data.product_id %}
                    <p style="font-size:18px;">
                        <strong>Mã sản phẩm</strong>: {{ data.product_id }}
                    </p>
                    {% endif %}
                    <!-- <img src="/public/img/signature_dim.jpg" class="img-responsive"> -->

                </div>
                <div class="tab-pane fade" id="tab-question">
                    <div class="question-answer-form">
                        <div class="alert alert-success" style="display: none;">Cám ơn bạn đã gửi câu hỏi về sản phẩm này. Câu hỏi của bạn đã được gửi về bộ phận quản lý của Tiki.vn
                        </div>
                        <p class="form" id="qaForm">
                            <input type="text" name="content" id="content" data-product="597391" class="form-control" value="" placeholder="Hãy đặt câu hỏi liên quan đến sản phẩm...">
                            <button type="button" class="btn btn-primary btn-add-question">Gửi câu hỏi</button>
                        </p>
                        <div class="help">
                            <p>Các câu hỏi thường gặp về sản phẩm:</p>
                            <p>- Chế độ bảo hành cùng cách thức vận chuyển sản phẩm này thế nào?</p>
                            <p>- Kích thước sản phẩm này ?</p>
                            <p>- Sản phẩm này có dễ dùng không ?</p>
                            <p>
                                <span>Các câu hỏi liên quan đến sản phẩm hư hỏng, cần đổi trả, v.v ... vui lòng truy cập trang
                                    hỗ trợ</span>
                                <a target="_blank" href="http://hotro.tiki.vn/">http://hotro.tiki.vn</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-reviews">
                    <div class="product-customer-box">
                        <div class="product-customer-content">

                            <div class="product-customer-col-1">
                                <h4>Đánh Giá Trung Bình</h4>
                                <p class="total-review-point">4.5/5</p>
                                <div class="item-rating" style="text-align: center">
                                    <p class="rating">
                                        <span class="rating-box">
                                            <i class="star"></i>
                                            <i class="star"></i>
                                            <i class="star"></i>
                                            <i class="star"></i>
                                            <i class="star"></i>
                                            <span style="width: 90%;">
                                                <i class="star"></i>
                                                <i class="star"></i>
                                                <i class="star"></i>
                                                <i class="star"></i>
                                                <i class="star"></i>
                                            </span>
                                        </span>
                                    </p>

                                    <p class="comments-count">
                                        <a href="nha-gia-kim-p378448/nhan-xet">(2145 nhận xét)</a>
                                    </p>
                                </div>
                            </div>
                            <div class="product-customer-col-2">
                                <div class="item rate-5">
                                    <span class="rating-num">5</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 75%;">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                    <span class="rating-num-total">75%</span>
                                </div>
                                <div class="item rate-4">
                                    <span class="rating-num">4</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 20%;">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                    <span class="rating-num-total">20%</span>
                                </div>
                                <div class="item rate-3">
                                    <span class="rating-num">3</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 3%;">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                    <span class="rating-num-total">3%</span>
                                </div>
                                <div class="item rate-2">
                                    <span class="rating-num">2</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 1%;">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                    <span class="rating-num-total">1%</span>
                                </div>
                                <div class="item rate-1">
                                    <span class="rating-num">1</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" style="width: 1%;">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                    <span class="rating-num-total">1%</span>
                                </div>
                            </div>
                            <div class="product-customer-col-3">
                                <h4>Chia sẻ nhận xét về sản phẩm</h4>

                                <button type="button" class="btn btn-default js-customer-button">Viết nhận xét của bạn</button>
                            </div>

                            <div class="clearfix"></div>
                            <h3 class="js-customer-h3">Gửi nhận xét của bạn</h3>
                            <div class="product-customer-col-4 js-customer-col-4">
                                <form action="" method="post" id="addReviewFrm" novalidate="novalidate" class="bv-form">
                                    <button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
                                    <input type="hidden" name="entity_pk_value" value="378448" id="entity_pk_value">
                                    <input type="hidden" name="productset_id" value="251" id="productset_id">
                                    <div class="rate form-group has-feedback" id="rating_wrapper">
                                        <label>1. Đánh giá của bạn về sản phẩm này:</label>
                                        <div class="rating-input">
                                            <i class="glyphicon glyphicon-star-empty" data-value="1"></i>
                                            <i class="glyphicon glyphicon-star-empty" data-value="2"></i>
                                            <i class="glyphicon glyphicon-star-empty" data-value="3"></i>
                                            <i class="glyphicon glyphicon-star-empty" data-value="4"></i>
                                            <i class="glyphicon glyphicon-star-empty" data-value="5"></i>
                                            <a class="rating-clear" style="display:none;" href="javascript:void(0)">
                                                <span class="glyphicon glyphicon-remove"></span> xóa
                                            </a>
                                            <input type="number" name="rating_star" id="rating_star" data-clearable="xóa" class="rating hidden" data-min="1" data-max="5"
                                                data-bv-field="rating_star">
                                            <i class="form-control-feedback" data-bv-icon-for="rating_star" style="display: none;"></i>
                                        </div>
                                        <small class="help-block" data-bv-validator="callback" data-bv-for="rating_star" data-bv-result="NOT_VALIDATED" style="display: none;">
                                            Vui lòng chọn đánh giá của bạn về sản phẩm này.
                                        </small>
                                        <small class="help-block" data-bv-validator="integer" data-bv-for="rating_star" data-bv-result="NOT_VALIDATED" style="display: none;">Please enter a valid number
                                        </small>
                                    </div>

                                    <div class="title form-group" id="title_wrapper">
                                        <label for="review_title">2. Tiêu đề của nhận xét:</label>
                                        <input type="text" placeholder="Nhập tiêu đề nhận xét (không bắt buộc)" name="title" id="review_title" class="form-control input-sm">
                                    </div>

                                    <div class="review-content form-group has-feedback has-error">
                                        <label for="review_detail">3. Viết nhận xét của bạn vào bên dưới:</label>
                                        <textarea placeholder="Nhận xét của bạn về sản phẩm này" class="form-control" name="detail" id="review_detail" cols="30"
                                            rows="10" data-bv-field="detail"></textarea>
                                    </div>

                                    <div class="action">
                                        <button type="submit" class="btn btn-default btn-add-review ">Gửi nhận xét</button>
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                    <div class="customer-review">
                        <div itemprop="itemReviewed">
                            <span itemprop="name" content=""></span>
                        </div>
                        <div class="product-col-1">
                            <p class="image">
                            </p>
                            <div class="avatar-img" style="background-image: url(http://pic.qqtn.com/file/2013/2014-12/2014121609253730810.jpg);"></div>
                            <p></p>
                            <p class="name" itemprop="author">Minh Hà</p>
                            <p class="from">
                                <!-- react-text: 104 -->đến từ
                                <!-- /react-text -->
                                <span>Vĩnh Phúc</span>
                            </p>
                            <p class="days">19 ngày trước</p>
                        </div>
                        <div class="product-col-2">
                            <div class="infomation">
                                <p class="review" itemprop="name">Sách rất hay và ý nghĩa</p>
                                <p class="buy-already">Đã mua sản phẩm này tại Min</p>
                                <div class="description js-description">
                                    <p class="review_detail" itemprop="reviewBody">
                                        <span>
                                            Tiki giao sách nhanh chóng và sách thì được đóng gói rất cẩn thận. Sách hay khỏi phải bàn. Mỗi lần cầm quyển sách này lên
                                            đọc là mình lại có động lực ngay để bắt đầu làm mọi điều mà mình muốn
                                            <br>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid relate-products">
        <div class="section-title">
            <h2>Sản phẩm liên quan</h2>
        </div>
        <div class="row">
            <div class="col-item col-xs-6 col-md-3">
                <div class="item-container">
                    <div class="photo">
                        <img src="/public/img/product_1a.jpg">
                        <div class="vertical-icon">
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                            </a>
                            <a href="javascript:void(0)" class="buy">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                            <a href="shop-detail.html">
                                <i class="fa fa-search-plus"></i>
                            </a>
                        </div>

                    </div>
                    <div class="name description">
                        <h3>
                            <a href="#">Eros Papasan</a>
                        </h3>
                        <p>
                            <a href="#">by Kartell</a>
                        </p>
                        <p>
                            <span class="price">
                                <del class="sale-off">$69.36</del>
                                <strong>$99.21</strong>
                            </span>
                        </p>

                        <div class="rating">
                            <span id="star1" class="star fa fa-star" data-rating="1"></span>
                            <span id="star2" class="star fa fa-star" data-rating="2"></span>
                            <span id="star3" class="star fa fa-star" data-rating="3"></span>
                            <span id="star4" class="star fa fa-star" data-rating="4"></span>
                            <span id="star5" class="star fa fa-star" data-rating="5"></span>
                            <span id="numberStar">&#40
                                <span id="number_rating">1</span>&#41</span>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Footer -->
    {% include '../../../components/footer.html' %}
    <!-- End Footer -->

    <!-- script -->
    {% include '../../../components/script.html' %}
    <!-- End script -->
    <!-- display or hide notification when customer add to cart -->
    <script type="text/javascript">
        if ('{{ info.username }}') {
            $('#add-to-cart').click(function () {
                $('.add-to-cart-success1').css('display', 'block')
                setTimeout(function () {
                    $('.add-to-cart-success1').css('display', 'none')
                }, 5000);
            })

            $('.close1').click(function () {
                $('.add-to-cart-success1').css('display', 'none')
            })
        } else {
            $('#add-to-cart').click(function () {
                $('.add-to-cart-success').css('display', 'block')
                setTimeout(function () {
                    $('.add-to-cart-success').css('display', 'none')
                }, 5000);
            })

            $('.close').click(function () {
                $('.add-to-cart-success').css('display', 'none')
            })
        }
    </script>
    <script type="text/javascript">

        // $(window).bind('scroll', function () {
        //     if ($(window).scrollTop() > 460) {
        //         $('header').addClass('fixed')
        //         $('button#menu-scroll.navbar-toggle').css('display', 'block')
        //         $('header').css('height', '71px')
        //     } else {
        //         $('header').removeClass('fixed')
        //         $('button#menu-scroll.navbar-toggle').css('display', 'none')
        //         $('header').css('height', '151px')
        //     }
        // });
        var click = 'onclicked'
        var temp = 1
        $(".form-search button").click(function () {
            /********************
             * Using if*/
            if (click === 'onclicked') {
                $('header').css('height', '151px');
                $('header .navbar').css('display', 'flex');
                console.log(click);
                click = 'clicked again'
            } else if (click === 'clicked again') {
                $('header').css('height', '71px');
                $('header .navbar').css('display', 'none');
                console.log(click);
                click = 'onclicked';
            }
            /*******************/

            /*******************
             * Using switch ... case
             switch (temp) {
                case (1): {
                    $('header').css('height', '151px')
                    $('header .navbar').css('display', 'flex')
                    console.log(temp)
                    temp++
                }
                    break
                case(2): {
                    $('header').css('height', '71px')
                    $('header .navbar').css('display', 'none')
                    console.log(temp)
                    temp--
                }
                    break
                default:
            }
             /*******************/
            $(window).bind('scroll', function () {
                if (click === 'onclicked' && $(window).scrollTop() < 460) {
                    console.log(3);
                    $('header .navbar').css('display', 'flex');
                } else if (click === 'onclicked' && $(window).scrollTop() > 460) {
                    console.log(4);
                    $('header .navbar').css('display', 'none');
                }
            })
        });
    </script>
    <script type="text/javascript">
        $('.review_action').click(function () {
            $(this).each(function () {
                $('.quick-reply').css('display', 'block')
            })
        });
        $('.js-customer-button').click(function () {
            var buttonValue = $('.js-customer-button').text()
            if (buttonValue === 'Viết nhận xét của bạn') {
                $('.product-customer-col-4').css('display', 'block')
                $('.js-customer-button').text('Đóng');
            } else if (buttonValue === 'Đóng') {
                $('.product-customer-col-4').css('display', 'none')
                $('.js-customer-button').text('Viết nhận xét của bạn');
            }
        });
    </script>
    <!-- add to cart -->
    <script type="text/javascript">
        var product_id = document.getElementById('qty').className
        var add_to_cart = document.getElementById('add-to-cart')
        add_to_cart.onclick = function () {
            var qty = document.getElementById('qty').value
            var total = document.getElementById('cart-count')
            axios({
                method: 'post',
                url: '/add_to_cart',
                data: {
                    product_id: product_id,
                    quantity: qty
                }
            })
                .then(function (res) {
                    total.innerText = res.data
                })
        }
    </script>
    <!-- add to wishlish -->
    <script type="text/javascript">
        var product_id = document.getElementById('qty').className
        var wishlish = document.getElementById('add_to_wishlist')
        wishlish.onclick = function () {
            var totalWish = document.getElementById('add_to-wishlist')
            axios({
                method: 'post',
                url: '/add_to_wishlish',
                data: {
                    product_id: product_id
                }
            })
                .then(function (res) {
                    totalWish.innerText = res.data
                })
        }
    </script>
    <script>
            var sum = $('.single-price')[0].children
            for (var i = 0; i < sum.length; i++) {
                sum[i].innerText = parseInt(sum[i].innerText).toLocaleString('vi')
            }
    </script>
</body>

</html>