<!DOCTYPE html> {% include '../../components/head.html' %}
<style>
    .price::after {
        content: ' ₫';
    }

    .order, .order:hover {
        background: #1BBAE1;
        border-color: #1BBAE1;
        color: #ffffff;
    }
</style>

<body>
    <!-- Page Wrapper -->
    <div id="page-wrapper">
        <!-- Page Container -->
        <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

            <!-- Main Sidebar -->
            <div id="sidebar">
                <!-- Wrapper for scrolling functionality -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Brand -->
                        <a href="/admin/dashboard" class="sidebar-brand">
                            <i class="gi gi-home"></i>
                            <span class="sidebar-nav-mini-hide">
                                <strong>FMS</strong>
                            </span>
                        </a>
                        <!-- END Brand -->

                        <!-- User Info -->
                        {% include '../../components/userInfo.html' %}
                        <!-- END User Info -->

                        <!-- Sidebar Navigation -->
                        <ul class="sidebar-nav">
                            <li>
                                <a href="/admin/dashboard">
                                    <i class="gi gi-stopwatch sidebar-nav-icon"></i>
                                    <span class="sidebar-nav-mini-hide">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="sidebar-nav-menu" id="category">
                                    <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                    <i class="gi gi-address_book sidebar-nav-icon"></i>
                                    <span class="sidebar-nav-mini-hide">Quán Lý Danh Mục</span>
                                </a>
                                <ul class="category">
                                    <li>
                                        <a href="/admin/category/area">
                                            Danh Mục Khu Vực
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admin/category/category">
                                            Danh Mục
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admin/category/category_product">
                                            Danh Mục Sản Phẩm
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="sidebar-nav-menu" id="product">
                                    <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                    <i class="gi gi-shop sidebar-nav-icon"></i>
                                    <span class="sidebar-nav-mini-hide">Quản Lý Sản Phẩm</span>
                                </a>
                                <ul class="product">

                                    <li>
                                        <a href="/admin/product">
                                            Sản Phẩm
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="javascript:void(0)" class="sidebar-nav-menu" id="order">
                                    <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                    <i class="gi gi-money sidebar-nav-icon"></i>
                                    <span class="sidebar-nav-mini-hide">Quản Lý Đơn Hàng</span>
                                </a>
                                <ul class="order">
                                    <li class="active">
                                        <a href="/admin/order">Đơn hàng</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="sidebar-nav-menu" id="user">
                                    <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                    <i class="gi gi-group sidebar-nav-icon"></i>
                                    <span class="sidebar-nav-mini-hide">Quản Lý Người Dùng</span>
                                </a>
                                <ul class="user">
                                    <li>
                                        <a href="/admin/users">Khách hàng</a>
                                    </li>
                                    <li>
                                        <a href="/admin/administrators">Quản trị viên</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="sidebar-nav-menu" id="cart">
                                    <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                    <i class="fa fa-credit-card-alt sidebar-nav-icon"></i>
                                    <span class="sidebar-nav-mini-hide">Quản Lý Thanh Toán</span>
                                </a>
                                <ul class="cart">
                                    <li>
                                        <a href="/admin/payment_method">Hình Thức Thanh Toán</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript:void(0)" class="sidebar-nav-menu" id="transport">
                                    <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i>
                                    <i class="fa fa-truck sidebar-nav-icon"></i>
                                    <span class="sidebar-nav-mini-hide">Quản Lý Vận Chuyển</span>
                                </a>
                                <ul class="transport">
                                    <!-- <li>
                                                                                            <a href="/admin/transport_method">Hình Thức Vận Chuyển</a>
                                                                                        </li> -->
                                    <li>
                                        <a href="/admin/fee_transport">Phí Vận Chuyển</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- END Sidebar Navigation -->

                    </div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Main Sidebar -->

            <!-- Main Container -->
            <div id="main-container">
                <!-- Header -->
                {% include '../../components/header.html' %}
                <!-- END Header -->

                <!-- Page content -->
                <div id="page-content">
                    <div class=" add-item text-center">
                        <div class="pull-left">
                            <a href="/admin/order" class="btn order m-t-10">
                                <i class="gi gi-left_arrow"></i> Quay lại quản lý đơn hàng</a>
                        </div>
                        {% if orderInfo.status_purchase | trim != 'success' and orderInfo.status_purchase | trim != 'cancel'%}
                        <div class="pull-right">
                            <a href="/admin/order_detali/order_success?code={{ orderInfo.code_purchase }}" class="btn order m-t-10">
                                <i class="fa fa-check-square-o"></i> Duyệt đơn hàng</a>
                        </div>
                        {% endif %}
                        {% if orderInfo.status_purchase | trim == 'cancel' %}
                            <h2>Đơn hàng đã bị hủy</h2>
                        {% elif orderInfo.status_purchase | trim == 'success' %}   
                            <h2>Giao hàng thành công</h2>
                        {% endif %}
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <div class="widget-extra themed-background-success">
                                    <h4 class="widget-content-light">
                                        <strong>{{ orderInfo.code_purchase | trim  }}</strong>
                                    </h4>
                                </div>
                                <div class="widget-extra-full">
                                    <span class="h2 text-success animation-expandOpen time-order">{{ orderInfo.time_order }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <div class="widget-extra themed-background-success">
                                    <h4 class="widget-content-light">
                                        <i class="fa fa-paypal"></i>
                                        <strong>Payment</strong>
                                    </h4>
                                </div>
                                <div class="widget-extra-full">
                                   
                                    {% if orderInfo.status_purchase | trim == 'success' %}
                                        <span class="h2 text-success animation-expandOpen">
                                            <i class="fa fa-check"></i>
                                        </span>
                                    {% elif orderInfo.status_purchase | trim == 'cancel' %}
                                        <span class="h2 text-warning animation-expandOpen">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    {% elif orderInfo.status_purchase | trim == 'pending' %}    
                                    <span class="h2 text-success animation-expandOpen">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="h2 text-warning animation-expandOpen">
                                        <i class="fa fa-times"></i>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <div class="widget-extra themed-background-warning">
                                    <h4 class="widget-content-light">
                                        <i class="fa fa-archive"></i>
                                        <strong>Packaging</strong>
                                    </h4>
                                </div>
                                <div class="widget-extra-full">
                                    {% if orderInfo.status_purchase | trim == 'success' %}
                                    <span class="h2 text-success animation-expandOpen">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    {% elif orderInfo.status_purchase | trim == 'packaging' %}
                                    <span class="h2 text-warning">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </span>
                                    {% elif orderInfo.status_purchase | trim == 'cancel' %}
                                    <span class="h2 text-warning animation-expandOpen">
                                        <i class="fa fa-times"></i>
                                    </span>
                                    {% elif orderInfo.status_purchase | trim == 'pending'%}
                                    <span class="h2 text-success animation-expandOpen">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="h2 text-warning">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </span>
                                    <span class="h2 text-warning animation-expandOpen">
                                        <i class="fa fa-times"></i>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <div class="widget-extra themed-background-muted">
                                    <h4 class="widget-content-light">
                                        <i class="fa fa-truck"></i>
                                        <strong>Delivery</strong>
                                    </h4>
                                </div>
                                <div class="widget-extra-full">
                                    {% if orderInfo.status_purchase | trim == 'success' %}
                                    <span class="h2 text-success animation-expandOpen">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    {% elif orderInfo.status_purchase | trim == 'Delivery' %}
                                    <span class="h2 text-muted animation-pulse">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                    {% elif orderInfo.status_purchase | trim == 'cancel' %}
                                    <span class="h2 text-warning animation-expandOpen">
                                        <i class="fa fa-times"></i>
                                    </span>
                                     {% elif orderInfo.status_purchase | trim == 'pending'%}
                                    <span class="h2 text-success animation-expandOpen">
                                        <i class="fa fa-check"></i>
                                    </span>
                                    <span class="h2 text-muted animation-pulse">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </span>
                                    <span class="h2 text-warning animation-expandOpen">
                                        <i class="fa fa-times"></i>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block">
                        <div class="block-title">
                            <h2>
                                <i class="fa fa-shopping-cart"></i>
                                <strong>Products</strong>
                            </h2>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-vcenter">
                                <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th class="text-center">Mã sản phẩm</th>
                                        <th class="text-center">Tên sản phẩm</th>
                                        <th class="text-center">Còn lại</th>
                                        <th class="text-center">Số lượng</th>
                                        <th class="text-center">Giá</th>
                                        <th class="text-center">Tạm tính</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="text-center">{{ product.ucp }}</td>
                                        <td>
                                            <a href="/admin/product/product_detail/{{ product.product_id }}">{{ product.name_product }}</a>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{ product.rest }}</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{ product.quantity }}</strong>
                                        </td>
                                        <td class="text-center price">
                                            <strong>{{ product.product_price }}</strong>
                                        </td>
                                        <td class="text-center price">
                                            <strong>{{ product.total }}</strong>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>

                        <div class="table-responsive">
                            <div class="col-md-10">
                                <p class="text-right" style="font-size: 15px">
                                    Phí vận chuyển:
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-right">
                                    <strong style="font-size: 15px" class="price fee">
                                        {{ orderInfo.fee }}
                                    </strong>
                                </p>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <div class="col-md-10">
                                <p class="text-right" style="font-size: 15px">
                                    Thành tiền:
                                </p>
                            </div>
                            <div class="col-md-2">
                                <p class="text-right">
                                    <strong style="font-size: 15px" class="price sum">
                                        {{ sum | float + orderInfo.fee | float }}
                                    </strong>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="block">
                                <div class="block-title">
                                    <h2>
                                        <i class="fa fa-user"></i>
                                        <strong>Người đặt hàng</strong>
                                    </h2>
                                </div>
                                <h4>
                                    <strong>{{ customer.username }}</strong>
                                </h4>
                                <address>
                                    <i class="fa fa-phone"></i> {{ customer.phone }}
                                    <br>
                                    <i class="fa fa-envelope-o"></i>
                                    <a href="javascript:void(0)">{{ customer.email }}</a>
                                </address>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="block">
                                <div class="block-title">
                                    <h2>
                                        <i class="fa fa-building-o"></i>
                                        <strong>Địa chỉ nhận hàng</strong>
                                    </h2>
                                </div>
                                <h4>
                                    <strong>{{ orderInfo.name_receiver | title }}</strong>
                                </h4>
                                <address>
                                    {{ orderInfo.address_receiver }}
                                    <br>
                                    <i class="fa fa-phone"></i> {{ orderInfo.phone_receiver }}
                                    <br>
                                </address>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- END Page Content -->

            </div>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->
    </div>
    <!-- END Page Wrapper -->
    <!-- footer -->
    {% include '../../components/footer.html' %}
    <!-- endfooter -->
    {% include '../../components/script.html' %}
    <script type="text/javascript">
        var products = $('.price')
        for (var i = 0; i < products.length; i++) {
            products[i].innerText = parseInt(products[i].innerText).toLocaleString('vi')
        }   
    </script>

    <script type="text/javascript">
        var time_order = $('.time-order').text().split(' ')
        $('.time-order').text(time_order[1])
    </script>

</body>

</html>