<!DOCTYPE html>
<html>
<!-- Head -->
{% include '../../components/head.html' %}
<!-- End Head -->

<body>
    <!-- Header -->
    {% include '../../components/header.html' %}
    <!-- End Header -->
    <div class="container-fluid page-heading event-heading">
        <div class="heading-content">
            <h1>event</h1>
            <p>Mỗi món đồ là một câu chuyện nhỏ. MIN cùng bạn viết nên câu chuyện ngôi nhà mình.</p>
            <ol class="breadcrumb">
                <li>
                    <a href="home.html">Trang chủ</a>
                </li>
                <li class="active">Event</li>
            </ol>
        </div>
    </div>
    <div class="container shop-main">
        <!-- <div style="width: auto; height:70px;"></div> -->
        <div class="row">
            <div id="alert">
                <h1>Trang web đang được hoàn thiện. Bạn vui lòng quay lại sau!</h1>
            </div>
        </div>
        <div class="row">
            <div id="introduction">
                <h2>Sự kiện sẽ sớm kết thúc, hãy sử dụng mã giảm giá cho đơn hàng của bạn, nhanh tay đi nào!</h2>
                <i>Cập nhật ngày 13/12/2017</i>
            </div>
        </div>
        <div style="width: auto; height:50px;"></div>
        <div class="row">
            <div class="sale-off-box">
                <div class="code-sale-off">
                    <div class="sale-off-left">
                        <div class="sale-off-left-box">
                            <span class="sale-off-left-text">Giảm</span>
                            <span class="sale-off-left-bigText">20%</span>
                        </div>
                    </div>
                    <div class="sale-off-middle">
                        <h6 class="sale-off-middle-title">Min KHUYẾN HỌC - Bàn học không lợi nhuận</h6>
                        <p class="sale-off-middle-expires">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Hạn dùng:</strong> 31-7-2017
                        </p>
                        <p class="sale-off-middle-cat">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Danh mục:</strong> Bàn học
                        </p>
                        <p class="sale-off-middle-note">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Lưu ý: </strong>Mua bàn học rẻ hơn bao giờ hết
                        </p>
                    </div>
                    <div class="sale-off-right">
                        <div class="sale-off-right-button" data-toggle="modal" data-target="#myModal">
                            <div class="sale-off-right-code-cover">
                                <span class="sale-off-right-icon-scissors">LẤY MÃ</span>
                            </div>
                            <div class="sale-off-right-code-text">KMWTF</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale-off-box">
                <div class="code-sale-off">
                    <div class="sale-off-left">
                        <div class="sale-off-left-box">
                            <span class="sale-off-left-text">Giảm</span>
                            <span class="sale-off-left-bigText">20%</span>
                        </div>
                    </div>
                    <div class="sale-off-middle">
                        <h6 class="sale-off-middle-title">Min KHUYẾN HỌC - Bàn học không lợi nhuận</h6>
                        <p class="sale-off-middle-expires">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Hạn dùng:</strong> 31-7-2017
                        </p>
                        <p class="sale-off-middle-cat">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Danh mục:</strong> Bàn học
                        </p>
                        <p class="sale-off-middle-note">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Lưu ý: </strong>Mua bàn học rẻ hơn bao giờ hết
                        </p>
                    </div>
                    <div class="sale-off-right">
                        <div class="sale-off-right-button" data-toggle="modal" data-target="#myModal">
                            <div class="sale-off-right-code-cover">
                                <span class="sale-off-right-icon-scissors">LẤY MÃ</span>
                            </div>
                            <div class="sale-off-right-code-text">KMWTF</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale-off-box">
                <div class="code-sale-off">
                    <div class="sale-off-left">
                        <div class="sale-off-left-box">
                            <span class="sale-off-left-text">Giảm</span>
                            <span class="sale-off-left-bigText">20%</span>
                        </div>
                    </div>
                    <div class="sale-off-middle">
                        <h6 class="sale-off-middle-title">Min KHUYẾN HỌC - Bàn học không lợi nhuận</h6>
                        <p class="sale-off-middle-expires">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Hạn dùng:</strong> 31-7-2017
                        </p>
                        <p class="sale-off-middle-cat">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Danh mục:</strong> Bàn học
                        </p>
                        <p class="sale-off-middle-note">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Lưu ý: </strong>Mua bàn học rẻ hơn bao giờ hết
                        </p>
                    </div>
                    <div class="sale-off-right">
                        <div class="sale-off-right-button" data-toggle="modal" data-target="#myModal">
                            <div class="sale-off-right-code-cover">
                                <span class="sale-off-right-icon-scissors">LẤY MÃ</span>
                            </div>
                            <div class="sale-off-right-code-text">KMWTF</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale-off-box">
                <div class="code-sale-off">
                    <div class="sale-off-left">
                        <div class="sale-off-left-box">
                            <span class="sale-off-left-text">Giảm</span>
                            <span class="sale-off-left-bigText">20%</span>
                        </div>
                    </div>
                    <div class="sale-off-middle">
                        <h6 class="sale-off-middle-title">Min KHUYẾN HỌC - Bàn học không lợi nhuận</h6>
                        <p class="sale-off-middle-expires">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Hạn dùng:</strong> 31-7-2017
                        </p>
                        <p class="sale-off-middle-cat">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Danh mục:</strong> Bàn học
                        </p>
                        <p class="sale-off-middle-note">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Lưu ý: </strong>Mua bàn học rẻ hơn bao giờ hết
                        </p>
                    </div>
                    <div class="sale-off-right">
                        <div class="sale-off-right-button" data-toggle="modal" data-target="#myModal">
                            <div class="sale-off-right-code-cover">
                                <span class="sale-off-right-icon-scissors">LẤY MÃ</span>
                            </div>
                            <div class="sale-off-right-code-text">KMWTF</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale-off-box">
                <div class="code-sale-off">
                    <div class="sale-off-left">
                        <div class="sale-off-left-box">
                            <span class="sale-off-left-text">Giảm</span>
                            <span class="sale-off-left-bigText">20%</span>
                        </div>
                    </div>
                    <div class="sale-off-middle">
                        <h6 class="sale-off-middle-title">Min KHUYẾN HỌC - Bàn học không lợi nhuận</h6>
                        <p class="sale-off-middle-expires">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Hạn dùng:</strong> 31-7-2017
                        </p>
                        <p class="sale-off-middle-cat">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Danh mục:</strong> Bàn học
                        </p>
                        <p class="sale-off-middle-note">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Lưu ý: </strong>Mua bàn học rẻ hơn bao giờ hết
                        </p>
                    </div>
                    <div class="sale-off-right">
                        <div class="sale-off-right-button" data-toggle="modal" data-target="#myModal">
                            <div class="sale-off-right-code-cover">
                                <span class="sale-off-right-icon-scissors">LẤY MÃ</span>
                            </div>
                            <div class="sale-off-right-code-text">KMWTF</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sale-off-box">
                <div class="code-sale-off">
                    <div class="sale-off-left">
                        <div class="sale-off-left-box">
                            <span class="sale-off-left-text">Giảm</span>
                            <span class="sale-off-left-bigText">20%</span>
                        </div>
                    </div>
                    <div class="sale-off-middle">
                        <h6 class="sale-off-middle-title">Min KHUYẾN HỌC - Bàn học không lợi nhuận</h6>
                        <p class="sale-off-middle-expires">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Hạn dùng:</strong> 31-7-2017
                        </p>
                        <p class="sale-off-middle-cat">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Danh mục:</strong> Bàn học
                        </p>
                        <p class="sale-off-middle-note">
                            <span class="sale-off-middle-mggicon"></span>
                            <strong>Lưu ý: </strong>Mua bàn học rẻ hơn bao giờ hết
                        </p>
                    </div>
                    <div class="sale-off-right">
                        <div class="sale-off-right-button" data-toggle="modal" data-target="#myModal">
                            <div class="sale-off-right-code-cover">
                                <span class="sale-off-right-icon-scissors">LẤY MÃ</span>
                            </div>
                            <div class="sale-off-right-code-text">KMWTF</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include '../../components/footer.html' %}
    <!-- End Footer -->

    <!-- script -->
    {% include '../../components/script.html' %}
    <!-- End script -->
</body>

</html>