{% block footer %}
<script>
    var count = 0
    function displayPassword() {
        if (count === 0) {
            $('#password_reg').prop('type', 'text')
            count++
        } else if (count === 1) {
            $('#password_reg').prop('type', 'password')
            count--
        }
    }
</script>
<!-- Modal user must login -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p style="font-size: 20px;">Bạn cần login để sử dụng chức năng này.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- customer added wishlist  -->
<div class="modal fade" id="existsWishlish" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true" style="margin-top: -10px;">×</button>
                <div class="bootbox-body">
                    <p style="font-size: 20px;">Sản phẩm đã có trong danh sách yêu thích</p>
                </div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="ok" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<a href="#">
    <i class="fa fa-angle-up back-top"></i>
</a>
<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-xs-6 col-md-3 footer-item">
                <h4>Thông tin liên hệ</h4>
                <ul>
                    <li>
                        <i class="fa fa-map-marker"></i>Đ/c: 40 Giảng Võ, Đống Đa, Hà Nội</li>
                    <li>
                        <i class="fa fa-mobile"></i>Hotline: 0986090925</li>
                    <li>
                        <i class="fa fa-envelope-o"></i>Email: hieu.do212@gmail.com</li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 footer-item">
                <h4>Thời gian mở cửa</h4>
                <ul>
                    <li>Thứ 2 - thứ 6: 8AM - 10PM</li>
                    <li>Thứ 7: 9AM - 8PM</li>
                    <li>Nghỉ Chủ Nhật và các ngày Lễ Tết</li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 footer-item">
                <h4>Hỗ trợ khách hàng</h4>
                <ul>
                    <li>
                        <a href="contact.html">Liên hệ & Góp ý</a>
                    </li>
                    <li>
                        <a href="#">Hướng dẫn mua hàng online</a>
                    </li>
                    <li>
                        <a href="#">Câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a href="#">Chính sách bảo mật</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3 footer-item">
                <h4>Chính sách mua hàng</h4>
                <ul>
                    <li>
                        <a href="#">Chính sách bảo hành, đổi trả</a>
                    </li>
                    <li>
                        <a href="#">Chính sách hội viên</a>
                    </li>
                    <li>
                        <a href="#">Giao hàng và lắp đặt</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row footer-bot">
            <a href="#" title="Kết nối qua Facebook">
                <i class="fa fa-facebook-official"></i>
            </a>
            <a href="#" title="Kết nối qua Google+">
                <i class="fa fa-google-plus-official"></i>
            </a>
            <a href="#" title="Kết nối qua Pinterest">
                <i class="fa fa-pinterest"></i>
            </a>
            <a href="#" title="Kết nối qua Instagram">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="row">
            <p>Copyright 2017
                <i class="fa fa-copyright"></i> Designed by Hieudo</p>
        </div>
    </div>
</footer>
{% endblock %}