{% block header %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="/public/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/public/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/public/owlcarousel/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="/public/css/front-end/main.css">
<!-- <link rel="stylesheet" type="text/css" href="/public/css/front-end/style.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="/public/css/front-end/cart.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="/public/css/front-end/shop.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="/public/css/front-end/description-product.css"> -->
<link rel="stylesheet" type="text/css" href="/public/css/front-end/wishlist.css">
<link rel="stylesheet" type="text/css" href="/public/css/front-end/shop-detail.css">
<link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
</head>
{% endblock %}
