{% block script %}
<script type="text/javascript" src="/public/js/jquery-3.1.1.js" ></script>
<script type="text/javascript" src="/public/owlcarousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/public/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/js/axios.min.js"></script>
<script type="text/javascript" src="/public/js/script.js" ></script>
<script>
    function checkEmail() {
        var email = document.getElementById('email_reg').value
        var email_err = document.getElementById('email_err')
        if(email_err.innerText) email_err.innerText = ''

        axios({
            method: 'post',
            url: '/checkInfo',
            data: {
                email: email
            }
        })
        .then(function (res) {
            email_err.innerText = res.data
            console.log(res.data)
        })
    }
    function checkPass() {
        var password = document.getElementById('password_reg').value
        var pass_err = document.getElementById('pass_err')
        if(pass_err.innerText) pass_err.innerHTML =''
        
        axios({
            method: 'post',
            url:'checkInfo',
            data: {
                password: password
            }
        })
            .then(function (res) {
                pass_err.innerText = res.data
                console.log(res.data)
            })
    }
    var login = document.getElementById('login-btn')
    login.onclick = function () {
        var email = document.getElementById('email').value
        var password = document.getElementById('password').value
        var login_err = document.getElementById('login_err')
        axios({
            method: 'post',
            url: '/login',
            data: {
                email: email,
                password: password
            }
        })
            .then(function (res) {
                if(res.data  === 'Sai mật khẩu!' || res.data === 'Tài khoản này không tồn tại!') {
                    login_err.innerText = res.data
                    console.log(res.data)
                } else {
                    function timedRefresh(timeoutPeriod) {
                        setTimeout("location.reload(true);", timeoutPeriod);
                    }
                    window.onload = timedRefresh(500); 
                }
            })
    }
</script>

<!--  -->
<script type="text/javascript">
        $(window).bind('scroll', function () {
            if ($(window).scrollTop() > 460) {
                $('header').addClass('fixed');
                $('button#menu-scroll.navbar-toggle').css('display', 'block');
                $('header').css({ 'height': '71px', });
            } else {
                $('header').removeClass('fixed');
                $('button#menu-scroll.navbar-toggle').css('display', 'none');
                $('header').css({ 'height': '151px' });
            }
        });
        var click = 'onclicked'
        //    var temp = 1
        $(".form-search button").click(function () {

            if (click === 'onclicked') {
                $('header').css('height', '151px');
                $('header .navbar').css('display', 'flex');
                click = 'clicked again'
            } else if (click === 'clicked again') {
                $('header').css('height', '71px');
                $('header .navbar').css('display', 'none');
                click = 'onclicked';
            }
        });
</script>
{% endblock %}