<!DOCTYPE html>
<html>
<!-- Head -->
{% include '../../components/head.html' %}
<!-- End Head -->

<body>
    <!-- Header -->
    {% include '../../components/header.html' %}
    <!-- End Header -->
    <div class="container-fluid page-heading shop-heading">
        <div class="heading-content">
            <h1>Sản phẩm</h1>
            <p>Mỗi món đồ là một câu chuyện nhỏ. MIN cùng bạn viết nên câu chuyện ngôi nhà mình.</p>
            <ol class="breadcrumb">
                <li>
                    <a href="home.html">Trang chủ</a>
                </li>
                <li class="active">Bộ sưu tập</li>
            </ol>
        </div>
    </div>
    <div class="container shop-main">
        <div class="row">
            <div id="alert">
                <h1>Trang web đang được hoàn thiện. Bạn vui lòng quay lại sau!</h1>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include '../../components/footer.html' %}
    <!-- End Footer -->

    <!-- script -->
    {% include '../../components/script.html' %}
    <!-- End script -->
</body>

</html>