<!DOCTYPE html>
<html>
<!-- Head -->
{% include '../../../components/head.html' %}
<!-- End Head -->

<body>
    <!-- Header -->
    {% include '../../../components/header.html' %}
    <!-- End Header -->
    <div style="height: 80px;"></div>
    <div class="container account-main">
        <div class="row">
            <nav class="side-nav">
                <div class="user-top-wrap">
                    <div class="user-top">
                        <img src="img/feedback_1.jpg">
                        <span>Đỗ Hoàng Hiếu</span>
                    </div>
                </div>
                <ul class="nav nav-stacked">
                    <li>
                        <a href="/tai-khoan-cua-toi">Tài khoản của tôi</a>
                    </li>
                    <li class="active">
                        <a href="/don-hang-cua-toi">Quản lý đơn hàng</a>
                    </li>
                    <li>
                        <a href="/yeu-thich">Danh sách yêu thích</a>
                    </li>
                </ul>
            </nav>
            <div class="tab-content">
                <div class="tab-pane active" id="history">
                    <div class="recent-orders">
                        <h3>Đơn hàng của tôi</h3>
                        <div class="history-filter">
                            <strong>Lọc kết quả:</strong>
                            <div class="date-block">
                                <span>Từ ngày: </span>
                                <input type="date" name="start-date">
                            </div>
                            <div class="date-block">
                                <span>Đến ngày: </span>
                                <input type="date" name="end-date">
                            </div>
                            <select>
                                <option disabled="" hidden="" selected="">Theo tình trạng</option>
                                <option>Chờ xử lý</option>
                                <option>Đã gửi đi</option>
                                <option>Đà đóng</option>
                                <option>Đà hủy</option>
                            </select>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="order-no">Mã đơn hàng</th>
                                    <th class="order-date">Ngày đặt hàng</th>
                                    <td class="order-item">Sản phẩm</td>
                                    <th class="order-sum">Tổng tiền</th>
                                    <th class="order-status">Tình trạng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="order-item">
                                    <td class="order-no">
                                        <a href="order-detail.html">09052017</a>
                                    </td>
                                    <td class="order-date">
                                        09/05/2017
                                    </td>
                                    <td class="order-item-name">SIGNATURE CHAIR IGNATURE CHAIR IGNATURE CHAIR IGNATURE CHAIR </td>
                                    <td class="order-sum">
                                        4.400.000₫
                                    </td>
                                    <td class="order-status out-stock">
                                        Chờ xử lý
                                    </td>
                                </tr>
                                <tr class="order-item">
                                    <td class="order-no">
                                        <a href="order-detail.html">03052017</a>
                                    </td>
                                    <td class="order-date">
                                        03/05/2017
                                    </td>
                                    <td class="order-item-name">SIGNATURE CHAIR</td>
                                    <td class="order-sum">
                                        3.800.000₫
                                    </td>
                                    <td class="order-status in-stock">
                                        Đã chuyển đi
                                    </td>
                                </tr>
                                <tr class="order-item">
                                    <td class="order-no">
                                        <a href="order-detail.html">23042017</a>
                                    </td>
                                    <td class="order-date">
                                        23/04/2017
                                    </td>
                                    <td class="order-item-name">SIGNATURE CHAIR</td>
                                    <td class="order-sum">
                                        8.500.000₫
                                    </td>
                                    <td class="order-status order-closed">
                                        Đã đóng
                                    </td>
                                </tr>
                                <tr class="order-item">
                                    <td class="order-no">
                                        <a href="order-detail.html">01042017</a>
                                    </td>
                                    <td class="order-date">
                                        01/04/2017
                                    </td>
                                    <td class="order-item-name">SIGNATURE CHAIR</td>
                                    <td class="order-sum">
                                        10.900.000₫
                                    </td>
                                    <td class="order-status order-closed">
                                        Đã đóng
                                    </td>
                                </tr>
                                <tr class="order-item">
                                    <td class="order-no">
                                        <a href="order-detail.html">02032017</a>
                                    </td>
                                    <td class="order-date">
                                        02/03/2017
                                    </td>
                                    <td class="order-item-name">SIGNATURE CHAIR</td>
                                    <td class="order-sum">
                                        9.400.000₫
                                    </td>
                                    <td class="order-status order-canceled">
                                        Đã hủy
                                    </td>
                                </tr>
                                <tr class="order-item">
                                    <td class="order-no">
                                        <a href="order-detail.html">14022017</a>
                                    </td>
                                    <td class="order-date">
                                        14/02/2017
                                    </td>
                                    <td class="order-item-name">SIGNATURE CHAIR</td>
                                    <td class="order-sum">
                                        14.200.000₫
                                    </td>
                                    <td class="order-status order-closed">
                                        Đã đóng
                                    </td>
                                </tr>
                                <tr class="order-item">
                                    <td class="order-no">
                                        <a href="order-detail.html">01012017</a>
                                    </td>
                                    <td class="order-date">
                                        01/01/2017
                                    </td>
                                    <td class="order-item-name">SIGNATURE CHAIR</td>
                                    <td class="order-sum">
                                        11.000.000₫
                                    </td>
                                    <td class="order-status order-closed">
                                        Đã đóng
                                    </td>
                                </tr>
                                <tr class="order-item">
                                    <td class="order-no">
                                        <a href="order-detail.html">02122016</a>
                                    </td>
                                    <td class="order-date">
                                        02/12/2016
                                    </td>
                                    <td class="order-item-name">SIGNATURE CHAIR</td>
                                    <td class="order-sum">
                                        12.200.000₫
                                    </td>
                                    <td class="order-status order-closed">
                                        Đã đóng
                                    </td>
                                </tr>
                                <tr class="order-item">
                                    <td class="order-no">
                                        <a href="order-detail.html">11112016</a>
                                    </td>
                                    <td class="order-date">
                                        11/11/2016
                                    </td>
                                    <td class="order-item-name">SIGNATURE CHAIR</td>
                                    <td class="order-sum">
                                        11.100.000₫
                                    </td>
                                    <td class="order-status order-canceled">
                                        Đã hủy
                                    </td>
                                </tr>
                                <tr class="order-item">
                                    <td class="order-no">
                                        <a href="order-detail.html">29092016</a>
                                    </td>
                                    <td class="order-date">
                                        29/09/2016
                                    </td>
                                    <td class="order-item-name">SIGNATURE CHAIR</td>
                                    <td class="order-sum">
                                        9.900.000₫
                                    </td>
                                    <td class="order-status order-closed">
                                        Đã đóng
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav>
                        <div class="pagination">
                            <a class="prev page-no" href="#">
                                <i class="fa fa-long-arrow-left"></i>
                            </a>
                            <a href="#" class="page-no current">1</a>
                            <a href="#" class="page-no">2</a>
                            <a href="#" class="page-no">3</a>
                            <a href="#" class="page-no">4</a>
                            <a href="#" class="page-no">5</a>
                            <a class="next page-no" href="#">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include '../../../components/footer.html' %}
    <!-- End Footer -->

    <!-- script -->
    {% include '../../../components/script.html' %}
    <!-- End script -->
    <script type="text/javascript">
        var sum = 0;
        $(".buy").click(function () {
            $(this).each(function () {
                sum += 1
            })
            $('.total').text(sum)
        })
    </script>
    <script type="text/javascript">

        $(window).bind('scroll', function () {
            if ($(window).scrollTop() > 151) {
                $('header').addClass('fixed')
                $('button#menu-scroll.navbar-toggle').css('display', 'block')
                $('header').css('height', '71px')
            } else {
                $('header').removeClass('fixed')
                $('button#menu-scroll.navbar-toggle').css('display', 'none')
                $('header').css('height', '151px')
            }
        });
        var click = 'onclicked'
        var temp = 1
        $(".form-search button").click(function () {
            /********************
             * Using if*/
            if (click === 'onclicked') {
                $('header').css('height', '151px');
                $('header .navbar').css('display', 'flex');
                console.log(click);
                click = 'clicked again'
            } else if (click === 'clicked again') {
                $('header').css('height', '71px');
                $('header .navbar').css('display', 'none');
                console.log(click);
                click = 'onclicked';
            }
            /*******************/

            /*******************
             * Using switch ... case
             switch (temp) {
                case (1): {
                    $('header').css('height', '151px')
                    $('header .navbar').css('display', 'flex')
                    console.log(temp)
                    temp++
                }
                    break
                case(2): {
                    $('header').css('height', '71px')
                    $('header .navbar').css('display', 'none')
                    console.log(temp)
                    temp--
                }
                    break
                default:
            }
             /*******************/
            $(window).bind('scroll', function () {
                if (click === 'onclicked' && $(window).scrollTop() < 151) {
                    console.log(3);
                    $('header .navbar').css('display', 'flex');
                } else if (click === 'onclicked' && $(window).scrollTop() > 151) {
                    console.log(4);
                    $('header .navbar').css('display', 'none');
                }
            })
        });
    </script>
</body>

</html>